{% extends "admin/change_form_extended.html" %}

{% load i18n static admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if change %}
        {% url 'admin:license_library_license_annotation' object_id as annotation_url %}
        <li><a class="grp-state-focus" href="{% add_preserved_filters annotation_url %}">Annotations</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="dialog" title="Details" style="display:none;">
        <p id="dialog-content"></p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    {% static "img/icon-related-lookup-m2m-hover.png" as related_lookup_icon %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $('select#id_license_style').each(function(){
                    let select = $(this);
                    let base_url = '{% url "admin:license_library_license_changelist" %}licensestyle/';
                    $('<li><a href="#"><img src="{{ related_lookup_icon }}"></a></li>')
                        .attr({ href: base_url })
                        .attr('class', 'view_dialog')
                        .attr('id', 'a_license_style')
                        .attr('style', 'margin:2px 0 0 2px')
                        .attr('title', 'View Item')
                        .prependTo(select.parent().next('ul'))
                        .hover(function(){
                            let href = base_url + select.val() + '/';
                            $(this).attr('href', href);
                    });
                    if (select.val() === '') $('#a_license_style').hide();
                });

                $('select#id_license_profile').each(function(){
                    let select = $(this);
                    let base_url = '{% url "admin:license_library_license_changelist" %}licenseprofile/';
                    $('<li><a href="#"><img src="{{ related_lookup_icon }}"></a></li>')
                        .attr({ href: base_url })
                        .attr('class', 'view_dialog')
                        .attr('id', 'a_license_profile')
                        .attr('style', 'margin:2px 0 0 2px')
                        .attr('title', 'View Item')
                        .prependTo(select.parent().next('ul'))
                        .hover(function(){
                            let href = base_url + select.val() + '/';
                            $(this).attr('href', href);
                    });
                    if (select.val() === '') $('#a_license_profile').hide();
                });

                $("#dialog").dialog({
                    autoOpen: false,
                    bgiframe: true,
                    draggable: false,
                    width: 1000,
                    resizable: false,
                    modal: true
                });

                $(".view_dialog").click(function(event) {
                    event.preventDefault();
                    $('#dialog-log').html('Loading...');
                    $.ajax({
                          url: $(this).attr('href'),
                          global: false,
                          cache: false,
                          type: "GET",
                          data: "_popup=1",
                          dataType: "html",
                          success: function(msg){
                              var html = msg.replace('<div class="module footer">', '<div style=display:none>')
                                            .replace('id="content"', '');
                              $('#dialog-content').html(html);
                          }
                    });
                    $('#dialog').dialog('open');
                });

                $("#id_license_style").change(function() {
                    ($(this).val() === '') ? $('#a_license_style').hide() : $('#a_license_style').show();
                });

                $("#id_license_profile").change(function() {
                    ($(this).val() === '') ? $('#a_license_profile').hide() : $('#a_license_profile').show();
                });

                /***************************************************************/
                /** Inline Tags ************************************************/

                // The "selects" do not exist in the "edit" case, they are readonly
                var selects = $('select:visible[id*="license_tag"]');
                for (var i=0; i<selects.length; i++) {
                    selects[i].selectedIndex = i+1;
                    var select = $(selects[i]);
                    select.next('a').hide();
                    var text = $(select.find("option:selected")[0]).text();
                    select.after('<p>' + text + '</p>');
                    select.hide();
                }

                // On Edition, the following is done in the ModelAdmin.
                {% if not change %}
                    var tags_data = new Array();
                    {# The escapejs is essential in case of a tag.text containing multilines #}
                    {% for tag in tags %}
                    tags_data['{{ tag.label }}'] = ['{{ tag.text|escapejs }}', '{{ tag.default_value|escapejs }}', '{{ tag.id }}', '{{ tag.guidance|escapejs }}'];
                    {% endfor %}

                    var array = $(".license_tag > p:visible");  // Addition
                    // Different block type on Edition
                    if (array.length === 0) { array = $(".license_tag > .grp-readonly:visible"); }
                    var value_mapping = new Array();
                    value_mapping["True"] = 2;
                    value_mapping["False"] = 3;

                    for (i=0; i<array.length; i++) {
                        text = array[i].innerHTML;
                        var tr_parent = array[i].parentNode.parentNode;
                        var tag_text = '&nbsp;';
                        var default_value = '';
                        var guidance = '&nbsp;';

                        if (tags_data[text] !== undefined) {
                            tag_text = tags_data[text][0];
                            default_value = tags_data[text][1];
                            guidance = tags_data[text][3];
                        }

                        var td_text = $(tr_parent).find('.text')[0];
                        td_text.innerHTML = '<div class="grp-readonly">' + tag_text + '</div>';
                        var td_guidance = $(tr_parent).find('.guidance')[0];
                        td_guidance.innerHTML = '<div class="grp-readonly">' + guidance + '</div>';

                        if (default_value == "True" || default_value == "False") {
                            var option = $(tr_parent).find('select:visible[id$="value"] option[value='+value_mapping[default_value]+']');
                            option.attr("selected", "selected");
                        }
                    }
                {% endif %}

                 // Cleaning
                $('#licenseassignedtag_set-group .grp-tools-container').remove();
                $('#licenseassignedtag_set-group .grp-transparent').remove();
                $('#licenseassignedtag_set-group h2.grp-collapse-handler').remove();
                $('#licenseassignedtag_set-group .grp-tools').remove();
                $('#licenseassignedtag_set-group .add-another').remove();

                // Hack to move the transform the Inline into a "tab"
                // Manipulate the DOM to prepare before activating the tags
                // Check if tabs already exist to prevent duplication
                if ($('#license_form > ul').length === 0) {
                    // Add the tabs list links
                    var tabs_ul = $('<ul style="float:right;"><li><a href="#tabs-1">License Data</a></li><li><a href="#tabs-2">Assigned Tag Values</a></li></ul>');
                    tabs_ul.prependTo('#license_form');
                    $("#grp-content-container").attr('style', 'clear:both;');
                    // We put a tabs-1 id on the wrapper div in the form
                    $("#license_form > div:last-child").attr('id', 'tabs-1');
                    // Add a new div tabs-2 in the form and move the Inline into it
                    $('<div id="tabs-2"></div>').appendTo('#license_form');
                    $("#licenseassignedtag_set-group").appendTo('#tabs-2');
                    // The footer needs to be moved too to be outside "tabs-1"
                    $("footer").appendTo('#license_form');

                    // Activate the tabs
                    $("#license_form").tabs();
                }
                // Removing un-wanted class, to ensure visual consistency
                $("#license_form").removeClass("ui-widget ui-widget-content ui-corner-all");
                $("#tabs-1, #tabs-2").removeClass("ui-tabs-panel ui-widget-content ui-corner-bottom");

                // Hack to regroup the Assigned Tag based on the group seq
                // First, build a dict of the div to be moved with the tag label as the key
                var div_dict = new Array();
                $.each($('div[id^="licenseassignedtag_set"].grp-module'), function(index, value) {
                    var label = $(value).find('.license_tag > p:first').text(); // Addition
                    // Different block type on Edition
                    if (!label || 0 === label.length) { label = $(value).find('.license_tag > .grp-readonly:first').text(); }
                    div_dict[label] = $(value);
                });

                // Re-organize the inline block
                var module_table = $('#licenseassignedtag_set-group > .grp-module.grp-table');
                {% for seq, group in group_dict.items %}
                    var group_div = $('<div class="grp-module grp-tbody groupbox"><div class="grp-tr"><div class="grp-td">{{ group.0 }}</div><div class="grp-td">&nbsp;</div><div class="grp-td">&nbsp;</div><div class="grp-td">&nbsp;</div></div></div>')
                    group_div.appendTo(module_table);
                    {% for label in group.1 %}
                        if (div_dict['{{ label }}'] !== undefined) {
                            div_dict['{{ label }}'].appendTo(module_table);
                        }
                    {% endfor %}
                {% endfor %}

            });
        })(grp.jQuery);
    </script>
{% endblock %}
