{% extends "admin/change_form_extended.html" %}

{% load i18n static admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if change %}
        {% url 'admin:license_library_license_annotation' object_id as annotation_url %}
        <li><a class="grp-state-focus" href="{% add_preserved_filters annotation_url %}">Annotations</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="dialog" title="Details" style="display:none;">
        <p id="dialog-content"></p>
    </div>
{% endblock %}