{% load i18n static %}
{% load has_notification from notifications_tags %}

{% block right-nav %}
  {% if not user.is_authenticated and register_url %}
    <li class="nav-item">
      <a class="nav-link" href="{{ register_url }}"><i class="fas fa-user-plus"></i> {% trans 'Sign Up' %}</a>
    </li>
  {% endif %}
  <li class="nav-item">
    <hr class="d-xl-none my-2 text-white-50">
  </li>
  {% include 'navbar/navbar_theme_toogle.html' %}
  {% if user.is_anonymous %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> {% trans 'Sign in' %}</a>
    </li>
  {% else %}
    <li class="nav-item">
      <hr class="d-xl-none my-2 text-white-50">
    </li>
    <li class="nav-item">
      {% if user|has_notification %}
        <a class="nav-link px-xl-3 position-relative" href="{% url 'notifications:unread' %}" title="Unread notifications" data-bs-toggle="tooltip" aria-label="Unread notifications">
          <i class="fa-solid fa-bell"></i>
          <span class="d-none d-xl-inline position-absolute translate-middle p-1 bg-danger rounded-circle"></span>
          <span class="d-xl-none ms-2">Notifications</span>
        </a>
      {% else %}
        <a class="nav-link px-xl-3" href="{% url 'notifications:unread' %}" title="No unread notifications" data-bs-toggle="tooltip" aria-label="No unread notifications">
          <i class="fas fa-bell"></i>
          <span class="d-xl-none ms-2">Notifications</span>
        </a>
      {% endif %}
    </li>
    <li class="nav-item">
      <hr class="d-xl-none my-2 text-white-50">
    </li>
    <li class="nav-item dropdown">
      <button class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% firstof user.first_name|truncatechars:10 user.username|truncatechars:10 %}&nbsp;({{ user.dataspace|truncatechars:8 }})
      </button>
      <div class="dropdown-menu dropdown-menu-end">
        <div class="text-center">
          {{ user.first_name }} {{ user.last_name }}
          <div class="dropdown-header">{{ user.email|truncatechars:30 }}</div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header">Account</div>
        <a class="dropdown-item {% if account_profile_url in request.path %}active{% endif %}" href="{{ account_profile_url }}">
          <i class="fas fa-user-circle" aria-hidden="true"></i>
          Profile Settings
        </a>
        <a class="dropdown-item" href="{% url 'password_change' %}">
          <i class="fa fa-key" aria-hidden="true"></i>
          Change Password
        </a>
        {% if user.is_staff %}
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Administration</div>
          <a class="dropdown-item" href="{% url 'admin:index' %}">
            <i class="fas fa-tachometer-alt" aria-hidden="true"></i>
            Admin Dashboard
          </a>
        {% endif %}
        {% if user.is_staff %}
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Status</div>
          <a class="dropdown-item" href="{% url 'integrations_status' %}">
            <i class="fas fa-stethoscope"></i>
            Integrations Status
          </a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <div class="dropdown-header">v{{ DEJACODE_VERSION }}</div>
        <div class="dropdown-divider"></div>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="dropdown-item">
            <i class="fas fa-right-to-bracket" aria-hidden="true"></i>
            {% trans "Sign Out" %}
          </button>
        </form>
      </div>
    </li>
  {% endif %}
{% endblock %}