{% load i18n %}
{% url 'product_portfolio:product_list' as product_list_url %}
{% url 'component_catalog:package_list' as package_list_url %}
{% url 'license_library:license_list' as license_list_url %}
{% url 'product_portfolio:compliance_dashboard' as compliance_dashboard_url %}

{% if not user.is_anonymous and SHOW_PP_IN_NAV %}
  <li class="nav-item{% if product_list_url in request.path and 'compliance' not in request.path %} active{% endif %}">
    <a class="nav-link" href="{{ product_list_url }}">
      {% trans 'Products' %}
    </a>
  </li>
{% endif %}
<li class="nav-item{% if package_list_url in request.path %} active{% endif %}">
  <a class="nav-link" href="{{ package_list_url }}">
    {% trans 'Packages' %}
  </a>
</li>
<li class="nav-item{% if license_list_url in request.path %} active{% endif %}">
  <a class="nav-link" href="{{ license_list_url }}">
    {% trans 'Licenses' %}
  </a>
</li>
<li class="nav-item{% if compliance_dashboard_url in request.path %} active{% endif %}">
  <a class="nav-link" href="{{ compliance_dashboard_url }}">
    {% trans 'Compliance' %}
  </a>
</li>