# Ignore everything
*

# Allow only what the build needs
!component_catalog/
!data/
!dejacode/
!dejacode_toolkit/
!dje/
!license_library/
!notification/
!organization/
!policy/
!product_portfolio/
!purldb/
!reporting/
!thirdparty/
!vulnerability/
!workflow/
!LICENSE
!manage.py
!NOTICE
!pyproject.toml
