include *LICENSE
include *NOTICE
include *.py
include MANIFEST.in
include Makefile
include *.rst
include setup.*
include *.ini
include *.yml
include *.yaml
include *ignore
include Dockerfile
include docker*
include .VERSION

graft component_catalog
graft dejacode
graft dejacode_toolkit
graft dje
graft docs
graft etc
graft license_library
graft notification
graft organization
graft policy
graft product_portfolio
graft purldb
graft reporting
graft thirdparty
graft workflow

prune dejacode.egg-info
prune docs/_build
prune bin
prune tmp
prune lib
prune lib64
prune local
prune var

recursive-exclude * __pycache__
recursive-exclude * *.py[co]