{% extends 'object_list_base.html' %}
{% load i18n %}

{% block top-right-buttons %}
  <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip">
    <button class="btn btn-outline-dark disabled" id="download-aboutcode-files" data-href="{% if opts.model_name == 'package' %}{% url 'component_catalog:package_multi_about_files' %}{% elif opts.model_name == 'component' %}{% url 'component_catalog:component_multi_about_files' %}{% endif %}">
      <i class="fas fa-download"></i> AboutCode
    </button>
  </span>
  {% if form or add_to_component_form %}
    <div class="btn-group">
      <div class="dropdown" data-bs-toggle="tooltip" title="{% trans 'Select objects first' %}">
        <button id="add-to-btn" class="btn btn-outline-dark dropdown-toggle disabled" type="button" data-bs-toggle="dropdown">
          <i class="fas fa-plus-circle"></i> Add to
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          {% if form %}
            <button type="button" class="btn btn-link dropdown-item" data-bs-toggle="modal" data-bs-target="#add-to-product-modal">Product</button>
          {% endif %}
          {% if add_to_component_form and opts.model_name == 'package' %}
            <button type="button" class="btn btn-link dropdown-item" data-bs-toggle="modal" data-bs-target="#add-to-component-modal">Component</button>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {{ block.super }}
  <div class="btn-group">
    {{ filter.form.sort }}
  </div>
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if form %}
    {% include 'component_catalog/includes/add_to_modal.html' %}
  {% endif %}
  {% if add_to_component_form %}
    {% include 'component_catalog/includes/add_to_modal.html' with form=add_to_component_form %}
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  {% if form or add_to_component_form %}
    {% include 'component_catalog/includes/add_to.js.html' %}
  {% endif %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const downloadAboutcodeBtn = document.getElementById('download-aboutcode-files');
      const downloadAboutcodeWrapper = downloadAboutcodeBtn.parentElement;

      function handleButtonDisplay() {
        const count = document.querySelectorAll('table input[type="checkbox"]:checked').length;
        if (count >= 1) {
          downloadAboutcodeBtn.classList.remove('disabled');
          downloadAboutcodeWrapper.setAttribute('data-bs-original-title', 'Download AboutCode files');
        } else {
          downloadAboutcodeBtn.classList.add('disabled');
          downloadAboutcodeWrapper.setAttribute('data-bs-original-title', 'Select objects first');
        }
      }

      document.querySelectorAll('main input[type="checkbox"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', handleButtonDisplay);
      });

      // Runs on load to support the "back" button of the browser
      handleButtonDisplay();

      downloadAboutcodeBtn.addEventListener('click', function (event) {
        const checked = document.querySelectorAll('main input[type="checkbox"]:checked');
        if (checked.length < 1) {
          event.preventDefault();
          return false;
        }

        const selectedIds = [];
        checked.forEach(function (checkbox) {
          selectedIds.push(checkbox.value);
        });

        const downloadAboutcodeUrl = downloadAboutcodeBtn.getAttribute('data-href') + '?ids=' + selectedIds.join();
        window.open(downloadAboutcodeUrl);
      });
    });
  </script>
{% endblock %}