{% extends "object_form.html" %}

{% block javascripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function build_purl(type, namespace, name, version, qualifiers, subpath) {
        if (!type || !name) return '';

        let purl = ['pkg:', type, '/'];

        if (namespace) purl.push(namespace, '/');
        purl.push(name)
        if (version) purl.push('@', version);
        if (qualifiers) purl.push('?', qualifiers);
        if (subpath) purl.push('#', subpath);

        return purl.join('');
      }

      const purl_inputs = ['type', 'namespace', 'name', 'version', 'qualifiers', 'subpath'].map(
        (field_name) => document.getElementById(`id_${field_name}`)
      );

      const package_url_input = document.getElementById('id_package_url');
      const copy_button = document.getElementById('copy_package_url');

      function update_purl() {
        package_url_input.value = build_purl(...purl_inputs.map((input) => input.value));
        copy_button.disabled = !package_url_input.value;
      }

      update_purl();  // Call once on start for Update view.

      purl_inputs.forEach((input) => input.addEventListener('input', update_purl));

      package_url_input.addEventListener('focus', () => package_url_input.select());

      copy_button.addEventListener('click', async () => {
        await navigator.clipboard.writeText(package_url_input.value);
        const icon = copy_button.querySelector('i');
        icon.classList.replace('fa-clipboard', 'fa-check');
        setTimeout(() => icon.classList.replace('fa-check', 'fa-clipboard'), 1500);
      });

    });
  </script>
{% endblock %}