{% extends "hierarchy_base.js.html" %}

{% block herarchy_js_content %}
  {% for feature, relationships in relations_feature_grouped.items %}
    {% for relation in relationships %}
      var source_id = '{% if relation.package_id %}package{% else %}component{% endif %}_{{ relation.pk }}';
      var target_id = 'product_{{ object.pk }}';
      var connectionOptions = {
        source: source_id,
        target: target_id,
        paintStyle: {strokeStyle: 'gray', lineWidth: 2}
      };
      {% if not relation.is_deployed %}
        connectionOptions.paintStyle.dashstyle = '2 2';
      {% endif %}
      connectNodes(jsPlumbHierarchy, connectionOptions);

      {# Hierarchy is only supported on components, not yet on packages.
      {% if relation.component.children.exists %}
        var linkUrl = '{{ relation.component.get_absolute_url }}#hierarchy';
        addEndpointWithLink(jsPlumbHierarchy, source_id, 'RightMiddle', linkUrl);
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock %}