<div class="modal" tabindex="-1" role="dialog" id="scan-all-packages-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Scan all Packages</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light">
        You are about to initiate multiple scans on the ScanCode.io server for all of the
        Packages assigned to your Product, either by direct assignment or by assignment to a
        Component assigned to your Product.<br><br>
        <strong>Note that this may take some time to complete.</strong><br><br>
        You can view the status of all the scans by selecting the
        <a target="_blank" href="{% url 'component_catalog:scan_list' %}">Scans</a> option
        from the DejaCode Tools dropdown menu, where you can also select each Package in the list
        to view scan results details in the "Scan" tab of that Package.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="scan_all_packages_submit" href="{{ object.get_scan_all_packages_url }}" class="btn btn-success">Submit Scan Request</a>
      </div>
    </div>
  </div>
</div>