<div hx-get="{{ values.tab_view_url }}" hx-trigger="load" hx-swap="outerHTML">
  <div class="h5 ms-4">
    <i class="fas fa-spinner fa-spin"></i> Fetching {{ values.tab_object_name }}...
  </div>
</div>

<script>
  document.body.addEventListener('htmx:afterSwap', function(evt) {
    const loadedContent = evt.detail.elt;

    // Enables all tooltip and popover of the inserted HTML
    Array.from(loadedContent.querySelectorAll('[data-bs-toggle="tooltip"]')).forEach(element => {
      new bootstrap.Tooltip(element, { container: 'body' });
    });
    Array.from(loadedContent.querySelectorAll('[data-bs-toggle="popover"]')).forEach(element => {
      new bootstrap.Popover(element, { container: 'body' });
    });

    // Disable the tab if a "disable-tab" CSS class if found in the loaded content
    if (loadedContent.querySelectorAll('.disable-tab').length > 0) {
        const tabPaneElement = loadedContent.closest('.tab-pane');
        // Find the corresponding button using its aria-controls attribute
        const buttonId = tabPaneElement.getAttribute('aria-labelledby');
        const button = document.querySelector(`#${buttonId}`);
        if (button) {
            button.disabled = true;
        }
    }

  });
</script>