{% extends "bootstrap_base.html" %}

{% load i18n %}

{% block page_title %}{% trans 'Account activation' %}{% endblock %}

{% block bodyclass %}bg-body-tertiary{% endblock %}

{% block content %}
  {% include 'includes/header_title.html' with pretitle='Account' title='Error during your account activation' %}
  <p>
    {{ activation_error.message }}
  </p>
  {% if DEJACODE_SUPPORT_EMAIL %}
    <p>
      If the problem persists, send us an email at <a href="mailto:{{ DEJACODE_SUPPORT_EMAIL }}">{{ DEJACODE_SUPPORT_EMAIL }}</a>
    </p>
  {% endif %}
{% endblock %}