{% extends "bootstrap_base.html" %}
{% load i18n static crispy_forms_tags %}
{% load inject_preserved_filters from dje_tags %}

{% block page_title %}{% trans "Import Packages from manifest" %}{% endblock %}

{% block content %}
  <div class="header">
    <div class="header-body">
      <div class="row align-items-center">
        <div class="col">
          <div class="header-pretitle">
            <a href="{% inject_preserved_filters 'product_portfolio:product_list' %}">{% trans "Products" %}</a>
            / {{ object.get_absolute_link }}
          </div>
          <h1 class="header-title">
            {% trans "Import Packages from manifest" %}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <p class="lead">
    Import and create Packages from a package manifest, lockfile, and SBOM (SPDX document).
  </p>

  {% include 'includes/messages_alert.html' %}

  <div class="alert alert-primary" role="alert">
    When you upload your <strong>Manifest file</strong>, DejaCode will:
    <ul class="mb-0 mt-2">
      <li><strong>Submit the manifest to ScanCode.io</strong> for scan inspection.</li>
      <li><strong>Retrieve discovered packages</strong> identified by ScanCode.io and import those packages in DejaCode.</li>
      <li><strong>Assign the packages</strong> to this product.</li>
    </ul>
  </div>

  <div class="alert alert-warning">
    <div>
      The following manifest types are supported:
      <ul class="mb-0 mt-2">
        <li>Python <strong>requirements.txt</strong></li>
        <li>CycloneDX BOM as JSON <strong>bom.json</strong> and <strong>.cdx.json</strong></li>
        <li>SPDX document as JSON <strong>.spdx.json</strong></li>
        <li>AboutCode <strong>.ABOUT</strong> files</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      {{ form.errors }}
      {% crispy form %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    $(document).ready(function () {
      $('form#import-manifest-form').on('submit', function () {
        NEXB.displayOverlay("Importing Packages from manifest...");
      })
    });
  </script>
{% endblock %}