{% extends "bootstrap_base.html" %}
{% load i18n static crispy_forms_tags %}
{% load inject_preserved_filters from dje_tags %}

{% block page_title %}{% trans "Import Package manifests" %}{% endblock %}

{% block content %}
  <div class="header">
    <div class="header-body">
      <div class="row align-items-center">
        <div class="col">
          <div class="header-pretitle">
            <a href="{% inject_preserved_filters 'product_portfolio:product_list' %}">{% trans "Products" %}</a>
            / {{ object.get_absolute_link }}
          </div>
          <h1 class="header-title">
            {% trans "Import Package manifests" %}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      {% include 'includes/messages_alert.html' %}

      <div class="alert alert-success">
        <div>
          Supports resolving packages for:
          <ul class="mt-1 mb-2">
            <li><strong>Python</strong>: requirements.txt and setup.py manifest files.</li>
          </ul>
        </div>
        <strong>Multiple manifests:</strong>
        You can provide multiple manifests by packaging them into a <strong>zip archive</strong>.
        DejaCode will process them accordingly.
      </div>

      <div class="alert alert-primary" role="alert">
        When you upload your <strong>manifest file to DejaCode</strong>,
        the following process will occur:
        <ul class="mt-2 mb-0">
          <li>
            <strong>Submission to ScanCode.io</strong>
            Your manifest file will be submitted to ScanCode.io for thorough scan inspection.
          </li>
          <li>
            <strong>Package Discovery</strong>
            ScanCode.io will identify and discover packages within your manifest.
          </li>
          <li>
            <strong>Package Importation</strong>
            DejaCode will retrieve the discovered packages from ScanCode.io and import them into its system.
          </li>
          <li>
            <strong>Package Assignment</strong>
            The imported packages will be assigned to the corresponding product within DejaCode.
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-body">
          {% include 'includes/form_errors_alert.html' %}
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    $(document).ready(function () {
      $('form#import-manifest-form').on('submit', function () {
        // Prevent from re-submitting the form by mistake
        $('button').prop('disabled', true);
        NEXB.displayOverlay("Import in progress...");
      })
    });
  </script>
{% endblock %}