{% extends 'object_details_base.html' %}
{% load i18n static %}
{% load inject_preserved_filters from dje_tags %}

{% block pager-toolbar %}
  {% if is_user_dataspace %}
    {% if has_edit_productcomponent or has_edit_productpackage or has_change_codebaseresource_permission or has_add_productcomponent %}
      <div class="dropdown btn-group">
        <a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" role="button" href="#"><i class="fas fa-tasks"></i> {% trans 'Manage' %}</a>
        <div class="dropdown-menu dropdown-menu-end">
          <div class="dropdown-header">Manage inventory</div>
          {% if has_edit_productcomponent %}
            <a class="dropdown-item" href="{{ object.get_manage_components_url }}"><i class="fa fa-puzzle-piece"></i> {% trans 'Components' %}</a>
          {% endif %}
          {% if has_edit_productpackage %}
            <a class="dropdown-item" href="{{ object.get_manage_packages_url }}"><i class="fas fa-archive"></i> {% trans 'Packages' %}</a>
          {% endif %}
          {% if user.is_staff and has_change_codebaseresource_permission %}
            <a class="dropdown-item" href="{% url 'admin:product_portfolio_codebaseresource_changelist' %}?product__id__exact={{ object.id }}" target="_blank"><i class="fas fa-file-code me-1"></i> {% trans 'Codebase resources' %}</a>
          {% endif %}
          {% if has_add_productcomponent %}
            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#edit-productrelation-modal" data-edit-url="{{ product.get_add_customcomponent_ajax_url }}" data-is-addition="true">
              <i class="fas fa-plus-circle"></i> {% trans 'Add custom Component' %}
            </button>
          {% endif %}
          <a class="dropdown-item" href="{{ object.get_license_summary_url }}"><i class="fa fa-book"></i> {% trans 'License summary' %}</a>
          {% if purldb_enabled %}
            <a class="dropdown-item" href="#" id="check-package-versions"><i class="fas fa-arrow-alt-circle-up"></i> {% trans 'Check for new Package versions' %}</a>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if has_scan_all_packages or has_change_permission %}
      <div class="dropdown btn-group">
        <a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" role="button" href="#"><i class="fas fa-barcode"></i>&nbsp;Scan</a>
        <div class="dropdown-menu dropdown-menu-end">
          {% if has_change_permission %}
            <a class="dropdown-item" href="{{ object.get_import_from_scan_url }}"><i class="fas fa-file-upload"></i> {% trans 'Import data from Scan' %}</a>
            {% if request.user.dataspace.enable_package_scanning %}
              <a class="dropdown-item" href="{{ object.get_load_sboms_url }}"><i class="fas fa-file-upload"></i> {% trans 'Load Packages from SBOMs' %}</a>
              <a class="dropdown-item" href="{{ object.get_import_manifests_url }}"><i class="fas fa-file-upload"></i> {% trans 'Import Packages from manifests' %}</a>
            {% endif %}
            {% if pull_project_data_form %}
              <a class="dropdown-item" style="margin-left: -3px;" href="#" data-bs-toggle="modal" data-bs-target="#pull-project-data-modal"><i class="fas fa-cloud-download-alt"></i> {% trans 'Pull ScanCode.io Project data' %}</a>
            {% endif %}
          {% endif %}
          {% if has_scan_all_packages %}
            <a class="dropdown-item{% if not tabsets.Inventory %} disabled{% endif %}" href="#" data-bs-toggle="modal" data-bs-target="#scan-all-packages-modal"><i class="fas fa-barcode"></i> {% trans 'Scan all Packages' %}</a>
          {% endif %}
          </div>
      </div>
    {% endif %}

    {# Warning: Do not inject the preserved_filters in attribution URL #}
    <a class="btn btn-outline-dark" href="{{ object.get_attribution_url }}" target="_blank" data-bs-toggle="tooltip" title="{% trans 'Generate Attribution' %}"><i class="far fa-file-alt"></i> {% trans 'Attribution' %}</a>
    <div class="btn-group">
      <div class="dropdown">
        <button id="add-to-btn" class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <i class="fas fa-share-alt"></i> Share
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          <div class="dropdown-header">Download</div>
          <a href="{{ object.get_about_files_url }}" class="dropdown-item" target="_blank">
            <i class="fas fa-download"></i> AboutCode files as zip
          </a>
          <a href="{{ object.get_export_spdx_url }}" class="dropdown-item" target="_blank">
            <i class="fas fa-download"></i> SPDX document
          </a>
          <div class="dropdown-item">
            <i class="fas fa-download"></i> CycloneDX SBOM
            <a class="badge text-bg-primary" href="{{ object.get_export_cyclonedx_url }}?spec_version=1.6">1.6</a>
            <a class="badge text-bg-secondary" href="{{ object.get_export_cyclonedx_url }}?spec_version=1.5">1.5</a>
            <a class="badge text-bg-secondary" href="{{ object.get_export_cyclonedx_url }}?spec_version=1.4">1.4</a>
          </div>
          <div class="dropdown-item">
            <i class="fas fa-download"></i> VEX document
            <a class="badge text-bg-secondary" href="{{ object.get_export_vex_url }}?spec_version=1.6">1.6</a>
            <a class="badge text-bg-secondary" href="{{ object.get_export_vex_url }}?spec_version=1.5">1.5</a>
            <a class="badge text-bg-primary" href="{{ object.get_export_vex_url }}?spec_version=1.4">1.4</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if has_scan_all_packages %}
    {% include 'product_portfolio/includes/scan_all_packages_modal.html' %}
  {% endif %}
  {% if display_scan_features %}
    {% include 'component_catalog/includes/scan_package_modal.html' %}
  {% endif %}
  {% if pull_project_data_form %}
    {% include 'product_portfolio/includes/pull_project_data_modal.html' %}
  {% endif %}
  {% if has_edit_productpackage or has_edit_productcomponent %}
    {% include 'product_portfolio/includes/edit_productpackage_modal.html' %}
  {% endif %}
  {% if tabsets.Imports %}
    {% include 'product_portfolio/includes/scancode_project_status_modal.html' %}
  {% endif %}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% if has_edit_productpackage or has_edit_productcomponent %}
    <link href="{% static "awesomplete/awesomplete-1.1.5.css" %}" rel="stylesheet" integrity="sha384-pfLLVHVEI786OaichPaTYxVzYEhaODDVjI6M6aNF9XN6G5Xtcw54aAXnBqtRw0Br" crossorigin="anonymous">
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  {% if has_edit_productpackage or has_edit_productcomponent %}
    <script src="{% static 'js/csrf_header.js' %}" integrity="sha384-H61e46QMjASwnZFb/rwCl9PANtdqt1dbKU8gnGOh9lIGQEoi1B6qkWROHnrktD3R" crossorigin="anonymous"></script>
  {% endif %}
  <script src="{% static "js/jquery.jsPlumb-1.7.2-min.js" %}" integrity="sha384-ITD4LUuh8ImLrJ5g55OIlG2QoiYVUuXLN9CStlO1e2SQZm0SyGfNkMiwPboMOv8D" crossorigin="anonymous"></script>
  {% include 'product_portfolio/includes/product_hierarchy.js.html' with relations_feature_grouped=tabsets.Hierarchy.fields.0.1.relations_feature_grouped %}
  {% if tabsets.Owner.extra %}
    {% include 'organization/includes/owner_hierarchy.js.html' with current_owner=object.owner parents=tabsets.Owner.extra.context.owner_parents children=tabsets.Owner.extra.context.owner_children tab_name="tab_owner" %}
  {% endif %}

  {% if display_scan_features %}
    <script>
      $(document).ready(function () {
        $('#scan-package-modal').on('show.bs.modal', function (event) {
          let button = $(event.relatedTarget); // Button that triggered the modal
          let recipient = button.data('package-scan-url'); // Extract info from data-* attributes
          $(this).find('a#submit-scan-request').attr('href', recipient);
        })
      });
    </script>
  {% endif %}

  {% if has_scan_all_packages %}
    <script>
      $(document).ready(function () {
        $('#scan_all_packages_submit').on('click', function (event) {
          NEXB.displayOverlay("Submitting Scan Request...");
        })
      });
    </script>
  {% endif %}

  {% if has_edit_productpackage or has_edit_productcomponent or has_add_productcomponent %}
    <script src="{% static 'awesomplete/awesomplete-1.1.5.min.js' %}" integrity="sha384-p5NIw+GEWbrK/9dC3Vuxh36c2HL0ETAXQ81nk8gl1B7FHZmXehonZWs/HBqunmCI" crossorigin="anonymous"></script>
    <script src="{% static 'js/license_expression_builder.js' %}" integrity="sha384-oTqsk3bKZbt7gvIiSLAxv/f/1zUBuzofCLQcVe+9J9s7zHhGnWfebQu3miHGT1Vc" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        let edit_modal = $('#edit-productrelation-modal');
        edit_modal.on('show.bs.modal', function (event) {
          let modal_body = $('#edit-productrelation-body');
          modal_body.html('');  // Reset the modal content

          let button = $(event.relatedTarget); // Button that triggered the modal
          // Extract info from data-* attributes
          let edit_url = button.data('edit-url');
          let can_delete = button.data('can-delete');
          let is_addition = button.data('is-addition');
          let submit_label = is_addition ? 'Add' : 'Update';

          $('#update-productrelation-submit').attr('value', submit_label).data('edit-url', edit_url);
          $('#edit-productrelation-modal #title-add-update').text(submit_label);

          // Not in the DOM if the user has not the proper permissions
          let delete_button = $('#update-productrelation-delete');
          if (delete_button && can_delete) {
              delete_button.attr('href', edit_url + '?delete=1');
              delete_button.show();
          }
          else {
              delete_button.hide();
          }

          $.ajax({
            url: edit_url,
            success: function(data) {
              modal_body.html(data);
              let license_expression_input = $('#id_license_expression');
              let licenses_data = license_expression_input.data('licenses');
              setup_awesomplete_builder(license_expression_input.get(0), null,  100, licenses_data);
            },
            error: function() {
              modal_body.html('Error.');
            }
          });
        });

        $('#update-productrelation-submit').on('click', function(){
          let modal_body = $('#edit-productrelation-body');
          let edit_url = $('#update-productrelation-submit').data('edit-url');

          $.ajax({
            url: edit_url,
            type: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: $('#update-productrelation-form').serialize(),
            success: function(data) {
              if (data['success']) {
                location.reload();
                return false;
              }
              modal_body.html(data);
              edit_modal.animate({scrollTop: 0});
            },
            error: function(){
              modal_body.html('Error.');
            }
          });
        });

      });
    </script>
  {% endif %}
{% endblock %}