{% load humanize %}

{% if scancode_project.results.errors %}
  <h5 class="text-danger">{{ scancode_project.results.errors|length }} errors:</h5>
  <ul class="mb-1">
    {% for error in scancode_project.results.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <hr>
{% endif %}
{% if scancode_project.results.created %}
  <h5>{{ scancode_project.results.created|length }} packages created:</h5>
  <ul class="mb-1">
    {% for package in scancode_project.results.created %}
      <li>{{ package }}</li>
    {% endfor %}
  </ul>
  <hr>
{% endif %}
{% if scancode_project.results.existing %}
  <h5>{{ scancode_project.results.existing|length }} packages updated/existing:</h5>
  <ul class="mb-1">
    {% for package in scancode_project.results.existing %}
      <li>{{ package }}</li>
    {% endfor %}
  </ul>
  <hr>
{% endif %}

<ul class="list-unstyled">
  <li><strong>Package count:</strong> {{ scan_data.package_count|intcomma }}</li>
  <li><strong>Dependency count:</strong> {{ scan_data.dependency_count|intcomma }}</li>
  <li><strong>Resource count:</strong> {{ scan_data.resource_count|intcomma }}</li>
</ul>
{% for run in scan_data.runs %}
  <ul class="list-unstyled mb-1">
    <li><strong>Pipeline name:</strong> {{ run.pipeline_name }}</li>
    <li>
      <strong>Status:</strong>
        <span class="badge
          {% if run.status == 'success' %}
            text-bg-success
          {% elif run.status == 'failure' or status == 'stopped' or status == 'stale' %}
            text-bg-danger
          {% elif run.status == 'running' %}
            text-bg-primary
          {% else %}
            text-bg-secondary
          {% endif %}
        ">
          {{ run.status }}
        </span>
    </li>
    {% if run.scancodeio_version %}
      <li><strong>ScanCode.io version:</strong> {{ run.scancodeio_version }}</li>
    {% endif %}
    {% if run.execution_time %}
      <li><strong>Execution time:</strong> {{ run.execution_time }} seconds</li>
    {% endif %}
  </ul>
  {% if run.task_output %}
    <div>
      <strong>Task output:</strong>
      <pre class="log p-2"><code>{{ run.task_output }}</code></pre>
    </div>
  {% endif %}
  {% if run.log %}
    <div>
      <strong>Execution log:</strong>
      <pre class="log p-2"><code>{{ run.log }}</code></pre>
    </div>
  {% endif %}
{% endfor %}