{% if scancode_project.results.errors %}
  <h5 class="text-danger">{{ scancode_project.results.errors|length }} errors:</h5>
  <ul class="mb-1">
    {% for error in scancode_project.results.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <hr>
{% endif %}

{% if scancode_project.results.created %}
  <h5>{{ scancode_project.results.created|length }} packages created:</h5>
  <ul class="mb-1">
    {% for package in scancode_project.results.created %}
      <li>{{ package }}</li>
    {% endfor %}
  </ul>
  <hr>
{% endif %}

{% if scancode_project.results.existing %}
  <h5>{{ scancode_project.results.existing|length }} packages updated/existing:</h5>
  <ul class="mb-1">
    {% for package in scancode_project.results.existing %}
      <li>{{ package }}</li>
    {% endfor %}
  </ul>
{% endif %}