{% extends 'bootstrap_base.html' %}
{% load i18n static humanize %}

{% block content %}
  <div class="row">
    <div class="col-2">
      <div class="sticky-top" style="top: 64px;">
        <div class="list-group">
          {% if include_products %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not product_results.paginator_count %}disabled{% endif %}" href="#products" data-scroll-to="#products_section">
              <div>
                <i class="fa-solid fa-briefcase me-2"></i>{% trans 'Products' %}
              </div>
              <span class="badge {% if not product_results.paginator_count %}text-bg-secondary{% else %}text-bg-primary{% endif %} rounded-pill">{{ product_results.paginator_count|intcomma }}</span>
            </a>
          {% endif %}

          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not component_results.paginator_count %}disabled{% endif %}" href="#components" data-scroll-to="#components_section">
            <div>
              <i class="fa-solid fa-puzzle-piece me-2"></i>{% trans 'Components' %}
            </div>
            <span class="badge {% if not component_results.paginator_count %}text-bg-secondary{% else %}text-bg-primary{% endif %} rounded-pill">{{ component_results.paginator_count|intcomma }}</span>
          </a>
          {% if reference_component_results %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not reference_component_results.paginator_count %}disabled{% endif %}" href="#reference_components" data-scroll-to="#reference_components_section">
              <span class="badge text-bg-warning ms-3">{% trans 'Reference Data' %}</span>
              <span class="badge {% if not reference_component_results.paginator_count %}text-bg-secondary{% else %}text-bg-warning{% endif %} rounded-pill">
                {{ reference_component_results.paginator_count|intcomma }}
              </span>
            </a>
          {% endif %}

          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not package_results.paginator_count %}disabled{% endif %}" href="#packages" data-scroll-to="#packages_section">
            <div>
              <i class="fa-solid fa-box-archive me-2"></i>{% trans 'Packages' %}
            </div>
            <span class="badge {% if not package_results.paginator_count %}text-bg-secondary{% else %}text-bg-primary{% endif %} rounded-pill">{{ package_results.paginator_count|intcomma }}</span>
          </a>
          {% if reference_package_results %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not reference_package_results.paginator_count %}disabled{% endif %}" href="#reference_packages" data-scroll-to="#reference_packages_section">
              <span class="badge text-bg-warning ms-3">{% trans 'Reference Data' %}</span>
              <span class="badge {% if not reference_package_results.paginator_count %}text-bg-secondary{% else %}text-bg-warning{% endif %} rounded-pill">
                {{ reference_package_results.paginator_count|intcomma }}
              </span>
            </a>
          {% endif %}

          {% if include_purldb %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#purldb" data-scroll-to="#purldb_section">
              <span class="badge text-bg-purldb ms-3" style="font-size: 90%;">{% trans 'PurlDB' %}</span>
              <span id="purldb-badge-count" class="badge text-bg-purldb rounded-pill"><i class="fas fa-spinner fa-spin"></i></span>
            </a>
          {% endif %}

          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not license_results.paginator_count %}disabled{% endif %}" href="#licenses" data-scroll-to="#licenses_section">
            <div>
              <i class="fa-solid fa-book me-2"></i>{% trans 'Licenses' %}
            </div>
            <span class="badge {% if not license_results.paginator_count %}text-bg-secondary{% else %}text-bg-primary{% endif %} rounded-pill">{{ license_results.paginator_count|intcomma }}</span>
          </a>
          {% if reference_license_results %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not reference_license_results.paginator_count %}disabled{% endif %}" href="#reference_licenses" data-scroll-to="#reference_licenses_section">
              <span class="badge text-bg-warning ms-3">{% trans 'Reference Data' %}</span>
              <span class="badge {% if not reference_license_results.paginator_count %}text-bg-secondary{% else %}text-bg-warning{% endif %} rounded-pill">
                {{ reference_license_results.paginator_count|intcomma }}
              </span>
            </a>
          {% endif %}

          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not owner_results.paginator_count %}disabled{% endif %}" href="#owners" data-scroll-to="#owners_section">
            <div>
              <i class="fa-solid fa-users me-2"></i>{% trans 'Owners' %}
            </div>
            <span class="badge {% if not owner_results.paginator_count %}text-bg-secondary{% else %}text-bg-primary{% endif %} rounded-pill">{{ owner_results.paginator_count|intcomma }}</span>
          </a>
          {% if reference_owner_results %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if not reference_owner_results.paginator_count %}disabled{% endif %}" href="#reference_owners" data-scroll-to="#reference_owners_section">
              <span class="badge text-bg-warning ms-3">{% trans 'Reference Data' %}</span>
              <span class="badge {% if not reference_owner_results.paginator_count %}text-bg-secondary{% else %}text-bg-warning{% endif %} rounded-pill">
                {{ reference_owner_results.paginator_count|intcomma }}
              </span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      {% if include_products %}
        {% include 'includes/global_search_product_table.html' with results=product_results %}
        <hr>
      {% endif %}

      {% include 'includes/global_search_component_table.html' with results=component_results %}
      <hr>
      {% if reference_component_results %}
        <section id="reference_components_section">
          {% include 'includes/global_search_component_table.html' with results=reference_component_results is_reference_data=True %}
        </section>
        <hr>
      {% endif %}

      {% include 'includes/global_search_package_table.html' with results=package_results %}
      <hr>
      {% if reference_package_results %}
        <section id="reference_packages_section">
          {% include 'includes/global_search_package_table.html' with results=reference_package_results is_reference_data=True %}
        </section>
        <hr>
      {% endif %}

      {% if include_purldb %}
        <section id="purldb_section">
          <h4>
            <span class="badge text-bg-purldb">{% trans 'PurlDB' %}</span>
            <small class="text-muted" id="purldb-spinner"><i class="fas fa-spinner fa-spin"></i> Search in progress...</small>
          </h4>
        </section>
        <hr>
      {% endif %}

      {% include 'includes/global_search_license_table.html' with results=license_results %}
      <hr>
      {% if reference_license_results %}
        <section id="reference_licenses_section">
          {% include 'includes/global_search_license_table.html' with results=reference_license_results is_reference_data=True %}
        </section>
        <hr>
      {% endif %}

      {% include 'includes/global_search_owner_table.html' with results=owner_results %}
      {% if reference_owner_results %}
        <hr>
        <section id="reference_owners_section">
          {% include 'includes/global_search_owner_table.html' with results=reference_owner_results is_reference_data=True %}
        </section>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/scroll_to.js' %}" integrity="sha384-4gCm4SPCq9O/y66P13LOCfjqfgMtrLt+7DzjdZfHi00UBDkeqn7oAf9Ywdi1HeXN" crossorigin="anonymous"></script>

    {% if include_purldb %}
        <script>
        {% url 'purldb:purldb_search_table' as purldb_search_table_url %}
        document.addEventListener('DOMContentLoaded', function () {
            const purldb_section = $('#purldb_section');
            if (purldb_section.length) {
                $.ajax({
                    url: '{{ purldb_search_table_url }}' + '?q={{ search_query }}',
                    type: 'GET',
                    success: function(data) {
                        purldb_section.html(data);
                        $('#purldb-badge-count').html($('#purldb-count').html());
                        $('[data-bs-toggle="tooltip"]').tooltip({container: 'body'});  // Enables all tooltip
                    },
                    error: function() {
                        $('#purldb-spinner').html('No packages found.');
                        $('#purldb-badge-count').html('0');
                    }
                });
            }
        });
        </script>
    {% endif %}
{% endblock %}