<script>
  document.addEventListener('DOMContentLoaded', function () {
    let add_to_btn = document.getElementById('add-to-btn');
    let add_to_btn_wrapper = add_to_btn.parentElement;

    let handle_button_display = function () {
        let checkedCheckboxes = document.querySelectorAll('main input[type="checkbox"]:checked');
        if (checkedCheckboxes.length >= 1) {
            add_to_btn.classList.remove('disabled');
            add_to_btn_wrapper.setAttribute('data-bs-original-title', '');
        } else {
            add_to_btn.classList.add('disabled');
            add_to_btn_wrapper.setAttribute('data-bs-original-title', 'Select objects first');
        }
    };

    // Adding change event listener to all checkboxes
    document.querySelectorAll('main input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', handle_button_display);
    });

    // Initial call to handle_button_display to set the correct state on page load
    handle_button_display();

    // Call handle_button_display when the page is shown (e.g., when navigating back)
    window.addEventListener('pageshow', function () {
        handle_button_display();
    });

    $('#add-to-product-modal, #add-to-component-modal').on('show.bs.modal', function (event) {
      // Do not include the select-all as its value is not an id we want to keep
      let checked = $('main input[type="checkbox"]:checked').not('#checkbox-select-all');

      if (checked.length < 1) {
        event.preventDefault();
        return false;
      }

      let ids_input = $(this).find('#id_ids');
      let object_repr_list = $(this).find('#object-repe-list');

      if (ids_input) {
        let selected_ids = [];
        object_repr_list.html('');

        checked.each(function() {
          selected_ids.push(this.value);
          $('<li/>').text($(this).data('object-repr')).appendTo(object_repr_list);
        });

        ids_input.val(selected_ids);

        let new_component_link = $('#new-component-link');
        if (new_component_link) {
            let new_component_url = new_component_link.data('add-url') + '?package_ids=' + selected_ids.join();
            new_component_link.attr('href', new_component_url);
        }
      }
    });

    // Select all forms with id starting with "add-to-"
    const forms = document.querySelectorAll('form[id^="add-to-"]');
    forms.forEach(function (form) {
        form.addEventListener('submit', function () {
            NEXB.displayOverlay("Adding objects...");
        });
    });

  });
</script>