{% load crispy_forms_tags %}
<div id="{{ form.helper.modal_id }}" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog {{ modal_dialog_class }}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ form.helper.modal_title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form autocomplete="off" method="{{ form.helper.form_method }}" action="{{ form.helper.form_action }}" id="{{ form.helper.form_id }}" class="{{ form.helper.form_class }}">
        <div class="modal-body bg-body-tertiary">
          {% crispy form %}
          {# Only displayed on list views #}
          {% if request.resolver_match.url_name|default:""|slice:"-4:" == "list" %}
            <hr>
            <h6>Selected objects:</h6>
            <ul id="object-repr-list" style="word-break: break-word;"></ul>
          {% endif %}
        </div>
        <div class="modal-footer">
          <input type="button" name="close" value="Close" class="btn btn-secondary" data-bs-dismiss="modal">
          <input type="submit" name="submit-{{ form.helper.form_id }}" value="{{ form.helper.modal_title }}" class="btn btn-primary btn-success">
        </div>
      </form>
    </div>
  </div>
</div>