<script>
  document.addEventListener('DOMContentLoaded', function () {
    let add_to_btn = document.getElementById('add-to-btn');
    let add_to_btn_wrapper = add_to_btn.parentElement;

    let handle_button_display = function () {
        let checkedCheckboxes = document.querySelectorAll('#object-list-table input[type="checkbox"]:checked');
        if (checkedCheckboxes.length >= 1) {
            add_to_btn.classList.remove('disabled');
            add_to_btn_wrapper.setAttribute('data-bs-original-title', '');
        } else {
            add_to_btn.classList.add('disabled');
            add_to_btn_wrapper.setAttribute('data-bs-original-title', 'Select objects first');
        }
    };

    // Adding change event listener to all checkboxes
    document.querySelectorAll('#object-list-table input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', handle_button_display);
    });

    // Initial call to handle_button_display to set the correct state on page load
    handle_button_display();

    // Call handle_button_display when the page is shown (e.g., when navigating back)
    window.addEventListener('pageshow', function () {
        handle_button_display();
    });

    document.querySelectorAll('#add-to-product-modal, #add-to-component-modal').forEach(function(modal) {
      modal.addEventListener('show.bs.modal', function (event) {
        // Do not include the select-all as its value is not an id we want to keep
        let checked = Array.from(document.querySelectorAll('#object-list-table input[type="checkbox"]:checked'))
          .filter(checkbox => checkbox.id !== 'checkbox-select-all');

        if (checked.length < 1) {
          event.preventDefault();
          return false;
        }

        let ids_input = modal.querySelector('#id_ids');
        let object_repr_list = modal.querySelector('#object-repr-list');

        if (ids_input) {
          let selected_ids = [];
          object_repr_list.innerHTML = '';

          checked.forEach(function(checkbox) {
            selected_ids.push(checkbox.value);
            let li = document.createElement('li');
            li.textContent = checkbox.dataset.objectRepr;
            object_repr_list.appendChild(li);
          });

          ids_input.value = selected_ids.join(',');

          let new_component_link = document.getElementById('new-component-link');
          if (new_component_link) {
              let new_component_url = new_component_link.dataset.addUrl + '?package_ids=' + selected_ids.join(',');
              new_component_link.setAttribute('href', new_component_url);
          }
        }
      });
    });

    // Select all forms with id starting with "add-to-"
    const forms = document.querySelectorAll('form[id^="add-to-"]');
    forms.forEach(function (form) {
        form.addEventListener('submit', function () {
            NEXB.displayOverlay("Adding objects...");
        });
    });

  });
</script>