{% extends "hierarchy_base.js.html" %}

{% block herarchy_js_content %}
  // Connect related_parents
  {% for related_parent in related_parents %}
    var source_id = 'component_{{ object.pk }}';
    var target_id = 'component_{{ related_parent.parent.pk }}';
    var connectionOptions = {
      source: source_id,
      target: target_id,
      paintStyle: {strokeStyle: 'gray', lineWidth: 2}
    };
    {% if object.dataspace.show_usage_policy_in_user_views and related_parent.usage_policy %}
      var fill_color = '{{ related_parent.get_usage_policy_color }}';
      connectionOptions['endpointStyle'] =  {fillStyle: fill_color, radius: 4};
      connectionOptions['paintStyle'] =  {strokeStyle: fill_color, lineWidth: 2};
    {% endif %}
    {% if not related_parent.is_deployed %}
      connectionOptions['paintStyle']['dashstyle'] = '2 2';
    {% endif %}
    connectNodes(jsPlumbHierarchy, connectionOptions);

    {% if related_parent.parent_count > 0 %}
      var linkUrl = '{{ related_parent.parent.get_absolute_url }}#hierarchy';
      addEndpointWithLink(jsPlumbHierarchy, target_id, 'LeftMiddle', linkUrl);
    {% endif %}
  {% endfor %}

  // Connect products (productcomponents)
  {% for productcomponent in productcomponents %}
    var connectionOptions = {
      source: 'component_{{ object.pk }}',
      target: 'product_{{ productcomponent.product.pk }}',
      paintStyle: {strokeStyle: 'grey', lineWidth: 2}
    };
    {% if not productcomponent.is_deployed %}
      connectionOptions['paintStyle']['dashstyle'] = '2 2';
    {% endif %}
    connectNodes(jsPlumbHierarchy, connectionOptions);
  {% endfor %}

  // Connect related_children
  {% for related_child in related_children %}
    var source_id = 'component_{{ related_child.child.pk }}';
    var target_id = 'component_{{ object.pk }}';
    var connectionOptions = {
      source: source_id,
      target: target_id,
      paintStyle: {strokeStyle: 'gray', lineWidth: 2}
    };
    {% if object.dataspace.show_usage_policy_in_user_views and related_child.usage_policy %}
      var fill_color = '{{ related_child.get_usage_policy_color }}';
      connectionOptions['endpointStyle'] =  {fillStyle: fill_color, radius: 4};
      connectionOptions['paintStyle'] =  {strokeStyle: fill_color, lineWidth: 2};
    {% endif %}
    {% if not related_child.is_deployed %}
      connectionOptions['paintStyle']['dashstyle'] = '2 2';
    {% endif %}
    connectNodes(jsPlumbHierarchy, connectionOptions);

    {% if related_child.child_count > 0 %}
      var linkUrl = '{{ related_child.child.get_absolute_url }}#hierarchy';
      addEndpointWithLink(jsPlumbHierarchy, source_id, 'RightMiddle', linkUrl);
    {% endif %}
  {% endfor %}
{% endblock %}