{% load i18n %}
{% load inject_preserved_filters from dje_tags %}
{% load naturaltime_short from dje_tags %}
<table id="object-list-table" class="table table-bordered table-striped table-md text-break components-table">
  {% if form %}
    {% include 'includes/object_list_table_header.html' with include_checkbox=True checkbox_select_all=True %}
  {% else %}
    {% include 'includes/object_list_table_header.html' %}
  {% endif %}
  <tbody>
    {% for name_version_group in name_version_groups %}
        {% for object in name_version_group %}
            {# Display the first name version and hide the others #}
            <tr {% if not forloop.first %} style="display: none"{% endif %}>
                {% if is_grouping_active %}
                    <td class="version_grouping">
                        {% if forloop.first and name_version_group|length > 1 %}
                            <button class="btn btn-xs btn-outline-secondary j_expand_multiple_versions" type="button" data-count="{{ name_version_group|length }}"><i class="fas fa-plus j_icon"></i></button>
                        {% endif %}
                    </td>
                {% endif %}
                {% if form %}
                  <td>
                    <input name="checkbox-for-selection" value="{{ object.id }}" data-object-repr="{{ object }}" type="checkbox" aria-label="Select row">
                  </td>
                {% endif %}
                <td>
                    {% if object.has_hierarchy or object.request_count or object.vulnerability_count %}
                        <ul class="list-inline float-end mb-0">
                            {% if object.has_hierarchy %}
                                <li class="list-inline-item">
                                    <a href="{% inject_preserved_filters object.get_absolute_url %}#hierarchy" class="h-link" aria-label="Hierarchy view"><i class="fas fa-sitemap"></i></a>
                                </li>
                            {% endif %}
                            {% if request.user.is_authenticated and is_user_dataspace and object.request_count %}
                                <li class="list-inline-item">
                                    <a href="{% inject_preserved_filters object.get_absolute_url %}#activity" class="r-link"><span class="badge text-bg-request">R</span></a>
                                </li>
                            {% endif %}
                            {% if object.vulnerability_count %}
                                <li class="list-inline-item">
                                  {% include 'component_catalog/includes/vulnerability_icon_link.html' with count=object.vulnerability_count %}
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <strong>
                        <a href="{% inject_preserved_filters object.get_absolute_url %}">{{ object.name }}</a>
                    </strong>
                    {% if filter.show_created_date %}
                        <div class="smaller text-muted-darker" title="{{ object.created_date|date:'N j, Y, f A' }}">Created {{ object.created_date|naturaltime_short }}</div>
                    {% endif %}
                    {% if filter.show_last_modified_date %}
                        <div class="smaller text-muted-darker" title="{{ object.last_modified_date|date:'N j, Y, f A' }}">Modified {{ object.last_modified_date|naturaltime_short }}</div>
                    {% endif %}
                </td>
                <td>
                    {{ object.version }}
                </td>
                {% if dataspace.show_usage_policy_in_user_views %}
                    <td class="text-center">
                        {% if object.usage_policy %}
                            {{ object.get_usage_policy_icon_tooltip }}
                        {% endif %}
                    </td>
                {% endif %}
                <td class="text-break">
                    {% if dataspace.show_usage_policy_in_user_views %}
                        {{ object.get_license_expression_linked_with_policy|default_if_none:"" }}
                    {% else %}
                        {{ object.license_expression_linked|default_if_none:"" }}
                    {% endif %}
                </td>
                <td>
                    {{ object.primary_language }}
                </td>
                <td>
                    {% if object.owner %}
                        <a href="{% inject_preserved_filters object.get_absolute_url %}#owner">{{ object.owner }}</a>
                    {% endif %}
                </td>
                <td>
                    <ul class="fa-ul ms-4 mb-0">
                    {% for keyword in object.keywords %}
                        <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>{{ keyword }}</li>
                    {% endfor %}
                    </ul>
                </td>
                {% if dataspace.show_type_in_component_list_view %}
                <td>
                    {{ object.type.label }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
      {% empty %}
          <tr><td colspan="{% if form %}9{% else %}8{% endif %}">No results.</td></tr>
      {% endfor %}
  </tbody>
</table>