<ul class="list-inline mb-0">
  {% if not is_scan_tab %}
    {% if scan.view_url %}
      <li class="list-inline-item"{% if not show_btn_label %} data-bs-toggle="tooltip"{% endif %} data-bs-title="View Scan results">
        <a class="btn btn-outline-dark btn-sm" href="{{ scan.view_url }}" target="_blank">
          <i class="far fa-file-alt"></i>{% if show_btn_label %} View Scan results{% endif %}
        </a>
      </li>
    {% else %}
      <li class="list-inline-item">
        <a class="btn btn-outline-dark btn-sm disabled">
          <i class="far fa-file-alt"></i>{% if show_btn_label %} View Scan results{% endif %}
        </a>
      </li>
    {% endif %}
  {% endif %}
  {% if scan.download_result_url %}
    <li class="list-inline-item"{% if not show_btn_label %} data-bs-toggle="tooltip"{% endif %} data-bs-title="Download Scan results">
      <a class="btn btn-outline-dark btn-sm" href="{{ scan.download_result_url }}" target="_blank">
        <i class="fas fa-download"></i>{% if show_btn_label %} Download Scan results{% endif %}
      </a>
    </li>
  {% else %}
    <li class="list-inline-item">
      <a class="btn btn-outline-dark btn-sm disabled">
        <i class="fas fa-download"></i>{% if show_btn_label %} Download Scan results{% endif %}
      </a>
    </li>
  {% endif %}
  {% if scan.delete_url %}
    <li class="list-inline-item"{% if not show_btn_label %} data-bs-toggle="tooltip"{% endif %} data-bs-title="Delete Scan">
      <a class="btn btn-outline-danger btn-sm scan_delete_link" href="#scan-delete-modal" role="button" data-delete-url="{{ scan.delete_url }}" data-bs-toggle="modal">
        <i class="far fa-trash-alt"></i>{% if show_btn_label %} Delete Scan{% endif %}
      </a>
    </li>
  {% else %}
    <li class="list-inline-item">
      <a class="btn btn-outline-danger btn-sm disabled">
        <i class="far fa-trash-alt"></i>{% if show_btn_label %} Delete Scan{% endif %}
      </a>
    </li>
  {% endif %}
  {% if scan.refresh_url %}
    <li class="list-inline-item"{% if not show_btn_label %} data-bs-toggle="tooltip"{% endif %} data-bs-title="Refresh Scan">
      <a class="btn btn-outline-dark btn-sm scan_refresh_link" href="#scan-refresh-modal" role="button" data-refresh-url="{{ scan.refresh_url }}" data-bs-toggle="modal">
        <i class="fa-solid fa-rotate-right"></i>{% if show_btn_label %} Refresh Scan{% endif %}
      </a>
    </li>
  {% else %}
    <li class="list-inline-item">
      <a class="btn btn-outline-dark btn-sm disabled">
        <i class="fa-solid fa-rotate-right"></i>{% if show_btn_label %} Refresh Scan{% endif %}
      </a>
    </li>
  {% endif %}
</ul>