{% load crispy_forms_tags %}
<div id="scan-to-package-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Set values from Scan to Package</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form autocomplete="off" method="{{ scan_to_package_form.helper.form_method }}" action="{{ scan_to_package_form.helper.form_action }}" id="{{ scan_to_package_form.helper.form_id }}" class="{{ scan_to_package_form.helper.form_class }}">
        <div class="modal-body bg-body-tertiary">
          {% crispy scan_to_package_form %}
        </div>
        <div class="modal-footer">
          <input type="button" name="close" value="Close" class="btn btn-secondary" data-bs-dismiss="modal">
          <input type="submit" name="submit-{{ scan_to_package_form.helper.form_id }}" value="Set values" class="btn btn-primary btn-success">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  setup_awesomplete_builder($('#id_scan-to-package-license_expression').get(0));
});
</script>