{% load crispy_forms_tags %}
<div id="scan-summary-to-package-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Set values from Scan Summary to Package</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form autocomplete="off" method="{{ scan_summary_to_package_form.helper.form_method }}" action="{{ scan_summary_to_package_form.helper.form_action }}" id="{{ scan_summary_to_package_form.helper.form_id }}" class="{{ scan_summary_to_package_form.helper.form_class }}">
        <div class="modal-body bg-body-tertiary">
          {% crispy scan_summary_to_package_form %}
        </div>
        <div class="modal-footer">
          <input type="button" name="close" value="Close" class="btn btn-secondary" data-bs-dismiss="modal">
          <input type="submit" name="submit-{{ scan_summary_to_package_form.helper.form_id }}" value="Set values" class="btn btn-primary btn-success">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const licenseExpressionInputIds = [
    'id_scan-summary-to-package-license_expression',
    'id_scan-summary-to-package-declared_license_expression',
    'id_scan-summary-to-package-other_license_expression'
  ];

  licenseExpressionInputIds.forEach(function(id) {
    const licenseExpressionInput = document.getElementById(id);
    if (licenseExpressionInput) {
      setup_awesomplete_builder(licenseExpressionInput);
    }
  });

  const scanSummaryToPackageModal = document.getElementById('scan-summary-to-package-modal');
  if (scanSummaryToPackageModal) {
    scanSummaryToPackageModal.addEventListener('show.bs.modal', function() {
      // Find all checked checkboxes and radio buttons within the tab_scan element
      const checkboxAndRadio = document.querySelectorAll("#tab_scan input[type='checkbox']:checked, #tab_scan input[type='radio']:checked");
      const dictValues = {};

      checkboxAndRadio.forEach(function(element) {
        processCheckboxAndRadio(element, dictValues);
      });

      // Get all textarea and input[type='text'] elements within the modal
      const inputTextAndTextarea = document.querySelectorAll("#scan-summary-to-package-modal textarea, #scan-summary-to-package-modal input[type='text']");
      inputTextAndTextarea.forEach(function(element) {
        const fieldName = element.name.replace('scan-summary-to-package-', '');
        let value = dictValues[fieldName];

        // For the "concluded" license_expression field, take value from declared_license_expression
        if (fieldName === 'license_expression' && dictValues['declared_license_expression']) {
            value = dictValues['declared_license_expression'];
        }

        // Set element value if value exists
        if (value !== undefined && value !== null) {
            element.value = value;
        }
      });
    });
  }

  function processCheckboxAndRadio(element, dictValues) {
    let textValue = element.value.trim();
    const fieldName = element.name;
    let joinSeparator = '\n';

    if (fieldName.endsWith('license_expression')) {
      joinSeparator = ' AND ';
      if (textValue.toLowerCase().includes(' or ')) {
        textValue = '(' + textValue + ')';
      }
    }

    if (dictValues[fieldName]) {
      dictValues[fieldName] += joinSeparator + textValue;
    } else {
      dictValues[fieldName] = textValue;
    }
  }
</script>