<div class="modal" id="scan-matches-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-body-tertiary">
        <h5 class="modal-title">
          Matched texts for <strong id="detected-license-key"></strong>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-0">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('scan-matches-modal').addEventListener('show.bs.modal', function(event) {
    let modal = event.target;
    let button = event.relatedTarget;
    let matches = button.dataset.matches;
    let license_key = button.dataset.licenseKey;
    modal.querySelector('.modal-title #detected-license-key').textContent = license_key;
    modal.querySelector('.modal-body').innerHTML = matches;
  });
</script>