<strong class="ms-1">{{ scan.runs.0.status|title }}</strong>
{% include 'component_catalog/includes/scan_status.html' with status=scan.runs.0.status only %}

{% if compact_mode %}
  <ul class="list-inline mt-1 mb-0">
    {% if view_url %}
      <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-title="View Scan results">
        <a class="text-dark" href="{{ view_url }}#scan" target="_blank">
          <i class="far fa-file-alt"></i>
        </a>
      </li>
    {% endif %}
    {% if scan.download_result_url %}
      <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-title="Download Scan results">
        <a class="text-dark" href="{{ scan.download_result_url }}" target="_blank">
          <i class="fas fa-download"></i>
        </a>
      </li>
    {% endif %}
    {% if scan.delete_url %}
      <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-title="Delete Scan">
        <a class="text-dark scan_delete_link" href="#scan-delete-modal" role="button" data-delete-url="{{ scan.delete_url }}" data-bs-toggle="modal">
          <i class="far fa-trash-alt"></i>
        </a>
      </li>
    {% endif %}
  </ul>
{% else %}
  <div class="text-center">
    {% if scan.download_result_url %}
      <a class="btn btn-outline-dark btn-sm mt-2" href="{{ scan.download_result_url }}" target="_blank"><i class="fas fa-download"></i> Results</a>
    {% endif %}
    {% if scan.delete_url %}
      <a class="btn btn-outline-danger btn-sm mt-2 scan_delete_link" href="#scan-delete-modal" role="button" data-delete-url="{{ scan.delete_url }}" title="Delete" data-bs-toggle="modal"><i class="far fa-trash-alt"></i></a>
    {% endif %}
  </div>
{% endif %}