{% load i18n %}
<span class="badge text-bg-purldb cursor-help"
      data-bs-toggle="popover"
      data-bs-placement="bottom"
      data-bs-trigger="hover"
      data-bs-title="{% trans 'PurlDB' %}"
      data-bs-content="{% trans 'You are looking at software packages defined in the PurlDB which were mined and scanned automatically from multiple public sources. If you open the details of a package, you can create a copy in your own dataspace and reference it in one of your products.' %}"
>
    {% trans 'PurlDB' %}
</span>