<div id="scan-progress-{{ scan.uuid }}"
     {% if needs_refresh %}
     hx-get="{% url 'component_catalog:scan_progress_htmx' package.dataspace.name package.uuid %}"
     hx-trigger="load delay:10s"
     hx-swap="innerHTML"
     {% endif %}
>
  {% include 'component_catalog/includes/scan_status.html' with status=scan.runs.0.status only %}
  <ul class="list-inline mt-1 mb-0">
    {% if view_url %}
      <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-title="View Scan results">
        <a class="text-dark" href="{{ view_url }}#scan" target="_blank">
          <i class="far fa-file-alt"></i>
        </a>
      </li>
    {% endif %}
    {% if scan.download_result_url %}
      <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-title="Download Scan results">
        <a class="text-dark" href="{{ scan.download_result_url }}" target="_blank">
          <i class="fas fa-download"></i>
        </a>
      </li>
    {% endif %}
    {% if scan.delete_url %}
      <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-title="Delete Scan">
        <a class="text-dark scan_delete_link" href="#scan-delete-modal" role="button" data-delete-url="{{ scan.delete_url }}" data-scan-uuid="{{ scan.uuid }}" data-bs-toggle="modal">
          <i class="far fa-trash-alt"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</div>