{% with notice.action_object.get_absolute_url as action_object_url %}
  {% if action_object_url %}
    <a href="{{ action_object_url }}{% if action_object_content_type|slugify == 'package' %}#scan{% endif %}" class="list-group-item list-group-item-action flex-column align-items-start">
  {% else %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
  {% endif %}
  {% include 'notifications/notice_content.html' %}
  {% if action_object_url %}
    </a>
  {% else %}
    </div>
  {% endif %}
{% endwith %}