{% extends "admin/change_form_extended.html" %}
{% load i18n %}
{% load admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if change %}
        <li>
            <a href="{% url opts|admin_urlname:'send_activation_email' object_id %}" class="grp-state-focus">{% trans 'Re-send activation email' %}</a>
        </li>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $('#dejacodeuser_form').attr('autocomplete', 'off');

                $('.group-details-link').click(function(e) {
                    e.preventDefault();
                    window.open(
                        this.href,
                        'group-details',
                        'left=100,top=100,height=600,width=1100,resizable=yes,scrollbars=yes'
                    );
                });
            });
        })(grp.jQuery);
    </script>
{% endblock %}