{% extends "admin/change_form_extended.html" %}
{% load i18n %}
{% load admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {# Only display the link if looking at my own dataspace, for safety reasons #}
    {% if user.is_superuser and original == user.dataspace %}
        <li>
            <a href="{% url opts|admin_urlname:'tab_permissions' object_id %}" class="grp-state-focus">{% trans 'Tab permissions' %}</a>
        </li>
        <li>
            <a href="{% url opts|admin_urlname:'copy_defaults' object_id %}" class="grp-state-focus">{% trans 'Copy defaults' %}</a>
        </li>
    {% endif %}
    {% if change and template_dataspace and user.is_superuser and user.dataspace.is_reference %}
        <li>
            <a href="{% url opts|admin_urlname:'clonedataset' object_id %}" class="grp-state-focus">{% trans 'Clone dataset from' %} {{ template_dataspace }}</a>
        </li>
    {% endif %}
{% endblock %}