{% extends "bootstrap_base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Password reset successful' %}{% endblock %}

{% block bodyclass %}bg-body-tertiary{% endblock %}

{% block content %}
  {% include 'includes/header_title.html' with pretitle='Account' title='Password reset successful' %}
  <h5>{% trans 'Check your e-mail' %}</h5>
  <p>
    {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}<br><br>
    If you don't receive this e-mail, please check your junk mail folder.
  </p>
{% endblock %}