{% extends "bootstrap_base.html" %}

{% load i18n %}

{% block page_title %}{% trans 'Password change' %}{% endblock %}

{% block bodyclass %}body-background{% endblock %}

{% block content %}
  {% include 'includes/header_title.html' with pretitle='Account' title='Password change' %}
  <p>{% trans "Please enter your old password for security purposes, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

  <form target="_self" method="post" autocomplete="off" class="mb-5">{% csrf_token %}
    <div class="row" style="width: 50%;">
      <div class="col-12">
        <div class="mb-3">
          <label for="id_old_password" class="form-label">{% trans 'Old password' %}:</label>
          <input type="password" class="form-control{% if form.old_password.errors %} is-invalid{% endif %}" name="old_password" id="id_old_password" value="{{ form.data.old_password }}">
          {% if form.old_password.errors %}
            <div class="invalid-feedback">
              {% for error in form.old_password.errors %}{{ error }}{% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="id_new_password1" class="form-label">{% trans 'New password:' %}</label>
          <input type="password" class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}" name="new_password1" id="id_new_password1" value="{{ form.data.new_password1 }}">
          {% if form.new_password1.errors %}
            <div class="invalid-feedback">
              {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
            </div>
          {% endif %}
          <div class="small form-text text-muted">{{ form.new_password1.help_text|safe }}</div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="id_new_password2" class="form-label">{% trans 'Confirm password:' %}</label>
          <input type="password" class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" name="new_password2" id="id_new_password2" value="{{ form.data.new_password2 }}">
          {% if form.new_password2.errors %}
            <div class="invalid-feedback">
              {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark" type="submit">{% trans 'Change my password' %}</button>
  </form>
{% endblock %}
