{% load i18n %}{% autoescape off %}
{% blocktrans %}We received a request to reset the password associated with this e-mail address. If you made this request, please follow the instructions below.{% endblocktrans %}

{% trans "Click the link below to reset your password using our secure server:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "If you did not request to have your password reset you can safely ignore this email. Rest assured your account is safe." %}

{% trans "Thanks for visiting dejacode.com!" %}

{% blocktrans %}The DejaCode Team.{% endblocktrans %}

{% endautoescape %}
