{% extends "bootstrap_base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block bodyclass %}bg-body-tertiary{% endblock %}

{% block content %}
  {% include 'includes/header_title.html' with pretitle='Account' title='DejaCode Password Assistance' %}

  <form target="_self" method="post" autocomplete="off" class="mb-5">{% csrf_token %}
    <div class="row" style="width: 50%;">
      <div class="col-12">
        <p>
          {% trans "Enter the e-mail address associated with your DejaCode account, then click Continue. We'll email you a link to a page where you can easily create a new password." %}
        </p>
        <div class="mb-3">
          <label for="id_email" class="form-label">{% trans 'E-mail address' %}:</label>
          <input type="email" class="form-control{% if form.email.errors %} is-invalid{% endif %}" name="email" id="id_email" value="{{ form.data.email }}">
          {% if form.email.errors %}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}{{ error }}{% endfor %}
            </div>
          {% endif %}
        </div>
        <button class="btn btn-outline-dark" type="submit">{% trans 'Change my password' %}</button>
        {% if DEJACODE_SUPPORT_EMAIL %}
          <p class="mt-4">
            Has your e-mail address changed? If you no longer use the e-mail address associated with your DejaCode account, you may contact our <a href="mailto:{{ DEJACODE_SUPPORT_EMAIL }}">customer service</a> for help restoring access to your account.
          </p>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}