{% if forloop.first %}<dl class="row mb-0">{% endif %}
<dt class="col-sm-2 text-end pt-2 pe-0"></dt>
<dd class="col-sm-10">
  <table class="table table-bordered table-md text-break">
    <thead>
      <tr>
        {% for entry in values %}
          <th{% if entry.th_class %} class="{{ entry.th_class }}"{% endif %}>
            {% if entry.help_text %}
              <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ entry.help_text }}">
            {% endif %}
            {{ entry.label }}
            {% if header.help_text %}
              </span>
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for entry in values %}
          <td{% if entry.td_class %} class="{{ entry.td_class }}"{% endif %}>{{ entry.value }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</dd>
{% if forloop.last %}</dl>{% endif %}