{% load i18n %}
<footer class="footer mt-auto bg-body-tertiary text-body-secondary">
  <div class="container-fluid p-3 p-md-5">
    <ul class="list-unstyled">
      <li><a href="/">Home</a></li>{# No trans for Home on purpose #}
      <li><a href="https://dejacode.readthedocs.io/en/latest/" target="_blank" rel="noreferrer">{% trans 'Documentation' %}</a></li>
      <li><a href="https://www.nexb.com/resources/#support" target="_blank" rel="noreferrer">{% trans 'Support' %}</a></li>
      <li><a href="https://www.nexb.com/dejacode/" target="_blank" rel="noreferrer">{% trans 'About' %}</a></li>
      <li><a href="https://github.com/aboutcode-org/dejacode" target="_blank" rel="noreferrer">{% trans 'Source Code' %}</a></li>
      <li><a href="https://github.com/aboutcode-org/dejacode/releases" target="_blank" rel="noreferrer">{% trans 'Releases' %}</a></li>
      <li><a href="https://scancode-licensedb.aboutcode.org/agpl-3.0.html" target="_blank" rel="noreferrer">{% trans 'License' %}</a></li>
    </ul>
    <p class="mb-0">Copyright nexB Inc. DejaCode is a trademark of nexB Inc.</p>
    <p class="mb-0">No content on DejaCode should be considered or used as legal advice. Consult an Attorney for any legal advice.</p>
  </div>
</footer>
