{% load i18n %}
{% load humanize %}
<section id="licenses_section">
  {% if results.object_list %}
    <h4>
      {% trans 'License' %}
      {% if is_reference_data %}
        <span class="badge text-bg-warning">{% trans 'Reference Data' %}</span>
      {% endif %}
      <small class="text-muted">
        {{ results.paginator_count|intcomma }} result{{ results.paginator_count|pluralize }} for this search.
        {% if is_reference_data %}
          Click <a href="{% url 'license_library:license_list' reference_dataspace %}?q={{ search_query }}">here</a> to see the full list.
        {% else %}
          Click <a href="{% url 'license_library:license_list' %}?q={{ search_query }}">here</a> to see the full list.
        {% endif %}
      </small>
    </h4>
    <table class="table table-bordered table-striped table-md text-break">
      <thead>
        <tr>
          <th>Name</th>
          <th>Short name</th>
          <th>Category</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        {% for object in results.object_list|slice:':10' %}
          <tr>
            <td><a href="{{ object.details_url }}"><strong>{{ object.name }}</strong></a></td>
            <td>{{ object.short_name|default_if_none:"" }}</td>
            <td>{{ object.category|default_if_none:"" }}</td>
            <td>{% if object.owner %}<a href="{{ object.details_url }}#owner">{{ object.owner }}</a>{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4>{% trans 'License' %} <small class="text-muted">No licenses found.</small></h4>
  {% endif %}
</section>