{% load i18n %}
<thead class="text-break-initial">
  <tr>
    {% if is_grouping_active %}
      <th class="column-grouping" scope="col">
        <button class="btn btn-xs btn-outline-secondary j_expand_all_versions" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Expand/Collapse all" aria-label="Expand/Collapse all"><i class="fas fa-plus j_icon"></i></button>
      </th>
    {% endif %}
    {% if include_checkbox %}
      <th class="column-selection" scope="col">
        {% if checkbox_select_all %}
          <input id="checkbox-select-all" type="checkbox" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Select all" aria-label="Select all rows">
        {% endif %}
      </th>
    {% endif %}
    {% for header in table_headers %}
      <th class="column-{{ header.field_name }}" scope="col">
        {% if header.filter %}
          <div class="float-end">{{ header.filter }}</div>
        {% endif %}
        {% if header.help_text %}
          <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ header.help_text }}">{% trans header.verbose_name %}</span>
        {% else %}
          {% trans header.verbose_name %}
        {% endif %}
        {% if header.sort %}
          {% with query_no_sort=filter.get_query_no_sort %}
            {% if filter.form.sort.data and header.field_name in filter.form.sort.data.0 %}
              {# The sort for this field is currently active #}
              <a href="?{% if query_no_sort %}{{ query_no_sort }}&{% endif %}{% if tab_id %}{{ tab_id }}-{% endif %}sort={% if '-' not in filter.form.sort.data.0 %}-{% endif %}{{ header.field_name }}{% if tab_id %}#{{ tab_id }}{% endif %}" class="sort active" aria-label="Sort"><i class="fas fa-sort-{% if '-' not in filter.form.sort.data.0 %}up{% else %}down{% endif %}"></i></a>
            {% else %}
              {# The sort for this field is NOT active #}
              <a href="?{% if query_no_sort %}{{ query_no_sort }}&{% endif %}{% if tab_id %}{{ tab_id }}-{% endif %}sort={{ header.field_name }}{% if tab_id %}#{{ tab_id }}{% endif %}" class="sort" aria-label="Sort"><i class="fas fa-sort"></i></a>
            {% endif %}
          {% endwith %}
        {% endif %}
      </th>
    {% endfor %}
    {% if include_actions %}
      <th class="column-action" scope="col"></th>
    {% endif %}
  </tr>
</thead>