{% load i18n %}
<span class="badge text-bg-warning reference-data-label"
      data-bs-toggle="popover"
      data-bs-placement="bottom"
      data-bs-trigger="hover"
      data-bs-title="Reference Data"
      data-bs-content="{% trans "You are looking at data that is defined in the DejaCode reference dataspace. If you would like to associate it with other data (for example, assign a component to a product), or modify it to provide additional information, your data administrator can copy it to your organization's dataspace." %}"
>
    {% trans 'Reference Data' %}
</span>