<li class="nav-item dropdown">
  <button class="btn btn-link nav-link dropdown-toggle" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)">
    <i class="fa-solid fa-circle-half-stroke"></i>
    <span class="d-lg-none ms-2">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text" data-bs-popper="static">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
        <i class="fa-solid fa-sun me-2"></i>
        Light
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
        <i class="fa-solid fa-moon me-2"></i>
        Dark
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
        <i class="fa-solid fa-circle-half-stroke me-2"></i>
        Auto
      </button>
    </li>
  </ul>
</li>