{% load humanize i18n %}
{% load naturaltime_short from dje_tags %}
<div class="border rounded-3 p-3 mb-4" id="activity-history">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="fs-5 fw-medium mb-0">History</h3>
  </div>

  <dl class="row mb-3 small">
    <dt class="col-sm-3 col-md-2 text-body-secondary fw-normal">Created</dt>
    <dd class="col-sm-9 col-md-10 mb-2">
      <span title="{{ object.created_date }}">{{ object.created_date|naturaltime }}</span>
      {% if object.created_by %} by <strong>{{ object.created_by }}</strong>{% endif %}
    </dd>

    <dt class="col-sm-3 col-md-2 text-body-secondary fw-normal">Last modified</dt>
    <dd class="col-sm-9 col-md-10 mb-0">
      <span title="{{ object.last_modified_date }}">{{ object.last_modified_date|naturaltime }}</span>
      {% if object.last_modified_by %} by <strong>{{ object.last_modified_by }}</strong>{% endif %}
    </dd>
  </dl>

  {% if history_entries %}
    <div class="small text-body-secondary fw-medium mb-2">Changes</div>
    <ul class="timeline pt-1 mb-0">
      {% for history_entry in history_entries %}
        {% with change_message=history_entry.get_change_message %}
          <li class="timeline-item {% if 'Added' in change_message %}timeline-item-addition{% elif 'Deleted' in change_message %}timeline-item-deletion{% endif %} mb-3">
            {{ change_message }}
            <small class="text-body-tertiary d-block" title="{{ history_entry.action_time }}">
              {{ history_entry.action_time|naturaltime }} by <strong>{{ history_entry.user }}</strong>
            </small>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  {% else %}
    <div class="text-body-tertiary small">
      No changes yet
    </div>
  {% endif %}
</div>