{% load i18n %}
{% load as_icon from dje_tags %}
{% load humanize %}

{% spaceless %}
<div class="row align-items-end">
  <div class="col mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <form id="tab-dependencies-search-form" class="mt-md-0 me-sm-2">
          <input style="width: 250px;" type="text" class="form-control form-control-sm" id="tab-dependencies-search-input" name="dependencies-q" placeholder="Search dependencies" aria-label="Search" autocomplete="off" value="{{ search_query|escape }}">
        </form>
      </li>
      <li class="nav-item">
        <div class="h6 mt-2 mb-0 smaller">
          {% if page_obj.paginator.count != total_count %}
            {{ page_obj.paginator.count|intcomma }} of
            <a href="#" hx-get="{{ request.path }}?all=true#inventory" hx-target="{{ tab_id_html }}">
              {{ total_count }} results
            </a>
          {% else %}
            {{ page_obj.paginator.count|intcomma }} results
          {% endif %}
        </div>
      </li>
    </ul>
    <div class="mt-1">
      {% include 'includes/filters_breadcrumbs.html' with filterset=filter_dependency fragment=tab_id only %}
    </div>
  </div>
  <div class="col-auto">
    {% include 'pagination/object_list_pagination.html' with hx_target=tab_id_html %}
  </div>
</div>

<table class="table table-bordered table-hover table-md text-break">
  <thead>
    <tr>
      <th style="min-width: 125px">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ help_texts.for_package }}">
          {% trans 'For package' %}
        </span>
        <div class="float-end">
          {{ filter_dependency.form.for_package }}
        </div>
      </th>
      <th style="min-width: 105px">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ help_texts.resolved_to_package }}">
          {% trans 'Resolved to package' %}
        </span>
        <div class="float-end">
          {{ filter_dependency.form.resolved_to_package }}
        </div>
      </th>
      <th>
          {% trans 'Package URL' %}
      </th>
      <th>
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ help_texts.scope }}">
          {% trans 'Scope' %}
        </span>
      </th>
      <th>
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ help_texts.extracted_requirement }}">
          {% trans 'Extracted requirement' %}
        </span>
      </th>
      <th style="min-width: 100px">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ help_texts.is_runtime }}">
          {% trans 'Runtime' %}
        </span>
        <div class="float-end">
          {{ filter_dependency.form.is_runtime }}
        </div>
      </th>
      <th style="min-width: 100px">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ help_texts.is_optional }}">
          {% trans 'Optional' %}
        </span>
        <div class="float-end">
          {{ filter_dependency.form.is_optional }}
        </div>
      </th>
      <th style="min-width: 105px">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ help_texts.is_resolved }}">
          {% trans 'Pinned' %}
        </span>
        <div class="float-end">
          {{ filter_dependency.form.is_resolved }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="text-break">
    {% for dependency in page_obj.object_list %}
      <tr class="{% cycle 'odd' '' %}">
        <td>
          {% if dependency.for_package %}
            <strong>
              <a href="{{ dependency.for_package.get_absolute_url }}" target="_blank">{{ dependency.for_package }}</a>
            </strong>
            <div>
              {{ dependency.for_package.license_expression_html|default_if_none:"" }}
            </div>
          {% else %}
            Current product
          {% endif %}
        </td>
        <td>
          {% if dependency.resolved_to_package %}
            <strong>
              <a href="{{ dependency.resolved_to_package.get_absolute_url }}" target="_blank">{{ dependency.resolved_to_package }}</a>
              {% if dependency.resolved_to_dependencies_count %}
                <a class="btn badge text-bg-primary rounded-pill ms-1"
                   href="{{ product.get_absolute_url }}?dependencies-for_package__uuid={{ dependency.resolved_to_package.uuid }}#dependencies" class="ms-1" data-bs-toggle="tooltip" title="Dependencies" aria-label="Dependencies">
                  {{ dependency.resolved_to_dependencies_count }}<i class="fa-solid fa-share-nodes ms-1"></i>
                </a>
              {% endif %}
            </strong>
            <div class="license-expression">
              {{ dependency.resolved_to_package.license_expression_html|default_if_none:"" }}
            </div>
          {% else %}
             Not resolved
          {% endif %}
        </td>
        <td>
          {{ dependency.package_url|default_if_none:"" }}
        </td>
        <td>
          {{ dependency.scope }}
        </td>
        <td>
          {{ dependency.extracted_requirement }}
        </td>
        <td>
          {{ dependency.is_runtime|as_icon }}
        </td>
        <td>
          {{ dependency.is_optional|as_icon }}
        </td>
        <td>
          {{ dependency.is_resolved|as_icon }}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="10">
          No results.
          {% if filter_dependency.is_active %}
            <a href="?all=true#dependencies">Clear search and filters</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-center">
  {% include 'pagination/object_list_pagination.html' with hx_target=tab_id_html %}
</div>
{% endspaceless %}