{% load i18n %}
{% load as_icon from dje_tags %}
{% load humanize %}

{% spaceless %}
<div class="row align-items-end">
  <div class="col mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <form id="tab-dependencies-search-form" class="mt-md-0 me-sm-2">
          <input style="width: 250px;" type="text" class="form-control form-control-sm" id="tab-dependencies-search-input" name="dependencies-q" placeholder="Search dependencies" aria-label="Search" autocomplete="off" value="{{ search_query|escape }}">
        </form>
      </li>
      <li class="nav-item">
        <div class="h6 mt-2 mb-0 smaller">
          {% if page_obj.paginator.count != inventory_count %}
            {{ page_obj.paginator.count|intcomma }} of
            <a href="?all=true#inventory">{{ inventory_count|intcomma }} results</a>
          {% else %}
            {{ page_obj.paginator.count|intcomma }} results
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
  <div class="col-auto">
    {% include 'pagination/object_list_pagination.html' %}
  </div>
</div>

<table class="table table-bordered table-hover table-md text-break">
  <thead>
    <tr>
      <th>
        {% trans 'For package' %}
      </th>
      <th>
        {% trans 'Resolved to package' %}
      </th>
      <th>
        {% trans 'Scope' %}
      </th>
      <th>
        {% trans 'Is runtime' %}
        {{ filter_dependency.form.is_runtime }}
      </th>
      <th>
        {% trans 'Is optional' %}
        {{ filter_dependency.form.is_optional }}
      </th>
      <th>
        {% trans 'Is resolved' %}
        {{ filter_dependency.form.is_resolved }}
      </th>
      <th>
        {% trans 'Is direct' %}
        {{ filter_dependency.form.is_direct }}
      </th>
    </tr>
  </thead>
  <tbody class="text-break">
    {% for dependency in page_obj.object_list %}
      <tr class="{% cycle 'odd' '' %}">
        <td>
          {% if dependency.for_package %}
            <strong>
              <a href="{{ dependency.for_package.get_absolute_url }}" target="_blank">{{ dependency.for_package }}</a>
            </strong>
            <div>
              {{ dependency.for_package.license_expression_html|default_if_none:"" }}
            </div>
          {% endif %}
        </td>
        <td>
          {% if dependency.resolved_to_package %}
            <strong>
              <a href="{{ dependency.resolved_to_package.get_absolute_url }}" target="_blank">{{ dependency.resolved_to_package }}</a>
            </strong>
            <div class="license-expression">
              {{ dependency.resolved_to_package.license_expression_html|default_if_none:"" }}
            </div>
          {% endif %}
        </td>
        <td>
          {{ dependency.scope }}
        </td>
        <td>
          {{ dependency.is_runtime|as_icon }}
        </td>
        <td>
          {{ dependency.is_optional|as_icon }}
        </td>
        <td>
          {{ dependency.is_resolved|as_icon }}
        </td>
        <td>
          {{ dependency.is_direct|as_icon }}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="10">
          No results.
          {% if filter_dependency.is_active %}
            <a href="?all=true#dependencies">Clear search and filters</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-center">
  {% include 'pagination/object_list_pagination.html' %}
</div>
{% endspaceless %}