{% load i18n %}
{% include 'tabs/pagination.html' %}
<table class="table table-bordered table-hover table-md text-break">
  {% include 'includes/object_list_table_header.html' with filter=filterset %}
  <tbody>
    {% for vulnerability in page_obj.object_list %}
      <tr>
        <td>
          <strong>
            {% if vulnerability.resource_url %}
              <a href="{{ vulnerability.resource_url }}" target="_blank">
                {{ vulnerability.vulnerability_id }}
                <i class="fa-solid fa-up-right-from-square mini"></i>
              </a>
            {% else %}
              {{ vulnerability.vulnerability_id }}
            {% endif %}
          </strong>
          <div class="mt-2">
            {% include 'component_catalog/includes/vulnerability_aliases.html' with aliases=vulnerability.aliases only %}
          </div>
        </td>
        <td>
          {% if vulnerability.min_score %}
            {{ vulnerability.min_score }} -
          {% endif %}
          {% if vulnerability.max_score %}
            <strong>
              {{ vulnerability.max_score }}
            </strong>
          {% endif %}
        </td>
        <td>
          {% if vulnerability.summary %}
            {% if vulnerability.summary|length > 120 %}
              <details>
                <summary>{{ vulnerability.summary|slice:":120" }}...</summary>
                {{ vulnerability.summary|slice:"120:" }}
              </details>
            {% else %}
              {{ vulnerability.summary }}
            {% endif %}
          {% endif %}
        </td>
        <td>
          <ul class="list-unstyled mb-0">
            {% for package in vulnerability.affected_packages.all %}
              <li>
                <a href="{{ package.get_absolute_url }}#vulnerabilities" target="_blank">{{ package }}</a>
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if vulnerability.vulnerability_analyses.get %}
            <ul class="list-unstyled mb-0">
              {% if vulnerability.vulnerability_analyses.get.state %}
                <li>State: <strong>{{ vulnerability.vulnerability_analyses.get.state }}</strong></li>
              {% endif %}
              {% if vulnerability.vulnerability_analyses.get.justification %}
                <li>Justification: <strong>{{ vulnerability.vulnerability_analyses.get.justification }}</strong></li>
              {% endif %}
              {% if vulnerability.vulnerability_analyses.get.responses %}
                <li>Responses: <strong>{{ vulnerability.vulnerability_analyses.get.responses|join:", " }}</strong></li>
              {% endif %}
              {% if vulnerability.vulnerability_analyses.get.detail %}
                <li>Detail: {{ vulnerability.vulnerability_analyses.get.detail }}</li>
              {% endif %}
            </ul>
          {% endif %}
          <span data-bs-toggle="modal" data-bs-target="#vulnerability-analysis-modal" class=""
                data-edit-url="{{ product.get_absolute_url }}vulnerability_analysis_ajax_view/?vulnerability_id={{ vulnerability.vulnerability_id }}"
          >
            <button type="button" data-bs-toggle="tooltip" title="{% if vulnerability.vulnerability_analyses.get %}Edit{% else %}Add{% endif %}" class="btn btn-link p-0" aria-label="Edit">
              <i class="{% if vulnerability.vulnerability_analyses.get %}far fa-edit{% else %}far fa-square-plus{% endif %} fa-sm"></i>
            </button>
          </span>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="10">
          No results.
          {% if filterset.is_active %}
            <a href="#" hx-get="{{ request.path }}?all=true#{{ tab_id }}" hx-target="{{ tab_id_html }}">
              Clear search and filters
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>