{% load i18n %}
{% load as_icon from dje_tags %}
{% load urlize_target_blank from dje_tags %}
{% load humanize %}

{% spaceless %}
<div class="row align-items-end">
  <div class="col mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <form id="tab-codebase-search-form" class="mt-md-0 me-sm-2">
          <input style="width: 250px;" type="text" class="form-control form-control-sm" id="tab-inventory-search-input" name="inventory-q" placeholder="Search inventory" aria-label="Search" autocomplete="off" value="{{ search_query|escape }}">
        </form>
      </li>
      <li class="nav-item">
        <div class="h6 mt-2 mb-0 smaller">
          {% if page_obj.paginator.count != inventory_count %}
            {{ page_obj.paginator.count|intcomma }} of
            <a href="?all=true#inventory">{{ inventory_count|intcomma }} results</a>
          {% else %}
            {{ page_obj.paginator.count|intcomma }} results
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
  <div class="col-auto">
    {% include 'pagination/object_list_pagination.html' %}
  </div>
</div>

<table class="table table-bordered table-md text-break">
  <thead>
    <tr>
      <th style="min-width: 300px;">
        {% trans 'Item' %}
        {{ filter_productcomponent.form.object_type }}
        <button class="btn btn-xs btn-outline-dark ms-2 toggle-details" data-bs-toggle="tooltip" data-bs-trigger="hover" title="{% trans 'Show/hide details' %}"><i class="fas fa-plus"></i>/<i class="fas fa-minus"></i></button>
        <div class="float-end">
          {{ filter_productcomponent.form.is_vulnerable }}
        </div>
      </th>
      <th style="min-width: 100px;">
        {% trans 'Purpose' %}
        {{ filter_productcomponent.form.purpose }}
      </th>
      <th style="min-width: 140px;">
        {% trans 'Concluded license' %}
      </th>
      <th style="width: 140px;">
        {% trans 'Review status' %}
        {{ filter_productcomponent.form.review_status }}
      </th>
      <th style="width: 106px;">
        {% trans 'Deployed' %}
        {{ filter_productcomponent.form.is_deployed }}
      </th>
      <th style="width: 100px;">
        {% trans 'Modified' %}
        {{ filter_productcomponent.form.is_modified }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for feature, relationships in inventory_items.items %}
      {% if feature %}
        <tr>
          <td colspan="100" class="sub-header"><strong>{{ feature }}</strong></td>
        </tr>
      {% endif %}
      {% for relation in relationships %}
        {% cycle 'table-odd' '' as rowcolors silent %}
        <tr class="{{ rowcolors }}{% if show_licenses_policy and relation.inventory_item_compliance_alert %} {{ relation.compliance_table_class }}{% endif %}">
          <td{% if relation.package %} data-purl="{{ relation.package.package_url }}"{% endif %}>
            <ul class="list-inline float-end mb-0">
              {% if request.user.is_authenticated and is_user_dataspace and relation.related_component_or_package.request_count %}
                <li class="list-inline-item me-1">
                  <a href="{{ relation.related_component_or_package.get_absolute_url }}#activity" data-bs-toggle="tooltip" title="{% trans 'Requests' %}">
                    <span class="badge text-bg-request align-top" style="font-size: 87%">R</span>
                  </a>
                </li>
              {% endif %}
              {% if relation.related_component_or_package.dataspace.show_usage_policy_in_user_views and relation.related_component_or_package.usage_policy %}
                <li class="list-inline-item">
                  <span data-bs-toggle="tooltip" title="{{ relation.related_component_or_package.usage_policy.label }}">{{ relation.related_component_or_package.get_usage_policy_as_icon }}</span>
                </li>
              {% endif %}
            </ul>
            {% include 'product_portfolio/includes/productrelation_element.html' with relation=relation %}
            {% if relation.component.owner or relation.owner %}
              <div data-bs-toggle="tooltip" title="Owner">
                <i class="fas fa-user me-2"></i>{{ relation.component.owner.get_absolute_link }}{{ relation.owner }}
              </div>
            {% endif %}
          </td>
          <td>
            {% if relation.purpose %}
              <div class="text-nowrap">{{ relation.purpose.label_with_icon }}</div>
            {% endif %}
          </td>
          <td>
            {% if show_licenses_policy %}
              {{ relation.get_license_expression_linked_with_policy|default_if_none:'' }}
            {% else %}
              {{ relation.license_expression_linked|default_if_none:'' }}
            {% endif %}
          </td>
          <td>{{ relation.review_status|default_if_none:'' }}</td>
          <td class="text-center">{{ relation.is_deployed|as_icon }}</td>
          <td class="text-center">{{ relation.is_modified|as_icon }}</td>
        </tr>
        {% if relation.package and display_scan_features %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <div class="col-4 p-0">
                {% if relation.scan %}
                  <strong>{% trans 'Scan' %}:</strong> {% include 'component_catalog/includes/scan_progress.html' with scan=relation.scan view_url=relation.package.get_absolute_url compact_mode=True only %}
                {% else %}
                  {% with relation.package.download_url as download_url %}
                    <span{% if download_url %} data-bs-toggle="modal" data-bs-target="#scan-package-modal" data-package-scan-url="{% url 'component_catalog:package_scan' user.dataspace relation.package.uuid %}"{% endif %}>
                      <button type="button" class="btn btn-outline-dark btn-sm{% if not download_url %} disabled{% endif %}" data-bs-toggle="tooltip" title="{% if download_url %}{% trans 'Submit Scan Request' %}{% else %}{% trans 'Download URL not available' %}{% endif %}"><i class="fas fa-barcode"></i> Scan</button>
                    </span>
                  {% endwith %}
                {% endif %}
              </div>
            </td>
          </tr>
        {% endif %}
        {% if relation.package.download_url %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4 text-break">
              <strong class="me-1">{% trans 'Download URL' %}:</strong>{{ relation.package.download_url|urlize }}
            </td>
          </tr>
        {% endif %}
        {% if relation.component.children.all %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Child components' %}:</strong>
              {% for child in relation.component.children.all %}
                <div>
                  <span class="me-2">
                    {% include 'includes/object_icon.html' with object=child only %}
                  </span>
                  {{ child.get_absolute_link }}
                  {% if child.license_expression %}
                    <code class="key ms-1 white-space-normal">{{ child.license_expression }}</code>
                  {% endif %}
                </div>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        {% if relation.component.packages.all %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Packages' %}:</strong>
              {% for package in relation.component.packages.all %}
                <div>
                  <span class="me-2">
                    {% include 'includes/object_icon.html' with object=package only %}
                  </span>
                  {{ package.get_absolute_link }}
                  {% if package.license_expression %}
                    <code class="key ms-1 white-space-normal">{{ package.license_expression }}</code>
                  {% endif %}
                </div>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        {% if relation.notes %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Notes' %}:</strong> {{ relation.notes|linebreaksbr }}
            </td>
          </tr>
        {% endif %}
        {% if relation.package_paths %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Package paths' %}:</strong> {{ relation.package_paths|linebreaksbr }}
            </td>
          </tr>
        {% endif %}
        {% if relation.extra_attribution_text %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Extra attribution text' %}:</strong> {{ relation.extra_attribution_text }}
            </td>
          </tr>
        {% endif %}
        {% if relation.issue_ref %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Issue ref' %}:</strong> {{ relation.issue_ref }}
            </td>
          </tr>
        {% endif %}
        {% if not relation.component and relation.copyright %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Copyright' %}:</strong> {{ relation.copyright }}
            </td>
          </tr>
        {% endif %}
        {% if not relation.component and relation.homepage_url %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Homepage URL' %}:</strong> {{ relation.homepage_url|urlize_target_blank }}
            </td>
          </tr>
        {% endif %}
        {% if not relation.component and relation.download_url %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Download URL' %}:</strong> {{ relation.download_url|urlize_target_blank }}
            </td>
          </tr>
        {% endif %}
        {% if not relation.component and relation.primary_language %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Primary language' %}:</strong> {{ relation.primary_language }}
            </td>
          </tr>
        {% endif %}
        {% if not relation.component and relation.reference_notes %}
          <tr class="{{ rowcolors }} extra-details">
            <td colspan="100" class="ps-4">
              <strong>{% trans 'Reference notes' %}:</strong> {{ relation.reference_notes }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    {% empty %}
      <tr><td colspan="100">No results.</td></tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-center">
  {% include 'pagination/object_list_pagination.html' %}
</div>
{% endspaceless %}

<script>
  // Select all elements with the class 'toggle-details'
  document.querySelectorAll('.toggle-details').forEach(function(toggleDetail) {
      // Add event listener for 'click' event
      toggleDetail.addEventListener('click', function() {
          // Select all elements with the class 'extra-details'
          document.querySelectorAll('.extra-details').forEach(function(extraDetail) {
              // Toggle the display property
              if (extraDetail.style.display === 'none' || extraDetail.style.display === '') {
                  extraDetail.style.display = 'table-row';
              } else {
                  extraDetail.style.display = 'none';
              }
          });
      });
  });

  {% if compliance_errors %}
    const tabInventoryLabel = document.getElementById('tab_inventory-tab');
    if (tabInventoryLabel) {
      var iconElement = document.createElement('i');
      iconElement.className = 'fas fa-exclamation-circle text-danger';
      iconElement.setAttribute('data-bs-toggle', 'tooltip');
      iconElement.setAttribute('title', 'Compliance errors');
      tabInventoryLabel.insertBefore(iconElement, tabInventoryLabel.firstChild);
      // Initialize the tooltip
      new bootstrap.Tooltip(iconElement, {container: 'body'});
    }
  {% endif %}
</script>