{% load i18n %}
<dl class="row mb-3">
  <dt class="col-sm-1 text-end pt-2 pe-0">
    <span class="help_text" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-title="Risk score between 0.00 and 10.00, where higher values indicate greater vulnerability risk for the package.">
      Risk score
    </span>
  </dt>
  <dd class="col-sm-11">
    <pre class="pre-bg-body-tertiary mb-1">{{ package.risk_score }}</pre>
  </dd>
</dl>
<table class="table table-bordered table-hover table-md text-break">
  <thead>
    <tr>
      <th style="width: 210px;">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Link to the VulnerableCode app.">
          {% trans 'Affected by' %}
        </span>
      </th>
      <th style="width: 210px;">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A list of aliases for this vulnerability.">
          {% trans 'Aliases' %}
        </span>
      </th>
      <th>
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Summary of the vulnerability.">
          {% trans 'Summary' %}
        </span>
      </th>
      <th style="min-width: 320px;">
        <span class="help_text" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="The identifiers of Package Versions that have been reported to fix a specific vulnerability and collected in VulnerableCodeDB.">
          {% trans 'Fixed packages' %}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for vulnerability in values.vulnerabilities %}
      <tr>
        <td>
          <strong>
            {% if vulnerability.resource_url %}
              <a href="{{ vulnerability.resource_url }}" target="_blank">
                {{ vulnerability.vulnerability_id }}
                <i class="fa-solid fa-up-right-from-square mini"></i>
              </a>
            {% else %}
              {{ vulnerability.vulnerability_id }}
            {% endif %}
          </strong>
        </td>
        <td>
           {% include 'component_catalog/includes/vulnerability_aliases.html' with aliases=vulnerability.aliases only %}
        </td>
        <td>
          {% if vulnerability.summary %}
            {% if vulnerability.summary|length > 120 %}
              <details>
                <summary>{{ vulnerability.summary|slice:":120" }}...</summary>
                {{ vulnerability.summary|slice:"120:" }}
              </details>
            {% else %}
              {{ vulnerability.summary }}
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if vulnerability.fixed_packages_html %}
            {{ vulnerability.fixed_packages_html }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>