{% load i18n %}
{% spaceless %}
<table class="table table-bordered table-hover table-md text-break">
  <thead>
    <tr>
      <th>{% trans 'Package URL' %}</th>
      <th>{% trans 'Filename' %}</th>
      <th>{% trans 'Download URL' %}</th>
      <th>{% trans 'Concluded license' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for package in values %}
      <tr class="{% cycle 'odd' '' %}">
        <td class="fw-bold">
          {% if package.uuid == object.uuid %}
            {{ package.package_url }}
            <div>
              <span class="badge bg-secondary">Current package</span>
            </div>
          {% else %}
            <a href="{{ package.get_absolute_url }}" target="_blank">{{ package.package_url }}</a>
          {% endif %}
        </td>
        <td>{{ package.filename|default_if_none:"" }}</td>
        <td>{{ package.download_url|default_if_none:"" }}</td>
        <td>{{ package.license_expression|default_if_none:"" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endspaceless %}